<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<footer id="footer">
        <div class="footer_main_area">
            <div class="inner_wrap">
                <h1 class="logo"><a href="/"><span class="blind">병원어때</span></a></h1>
                <ul class="footer_menu_list">
                    <li><a href="/service/searchHospitalMain">병원찾기</a></li>
                    <li><a href="#">커뮤니티</a></li>
                    <li><a href="/etc/pharmacy">약국찾기</a></li>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">자주묻는질문</a></li>
                </ul>
                <p class="footer_txt">대표자 : KH | 서울특별시 영등포구 선유동2로 57 이레빌딩(구관) 19F, 20F | 사업자등록번호 : 000-0000-000</p>
                <p class="footer_txt"><strong>대표전화 : 0000-0000</strong> | FAX : 0000-000-0000(지역번호 공통) | 서울특별시 통신판매업신고번호 : 제 000호</p>
                <p class="footer_copy">Copyright © 1998-2024 KH Information Educational Institute All Right Reserved</p>
            </div>
        </div>
    </footer>
</div>
<!-- js 링크 -->
<script src="/js/common/common.js"></script>
</body>
</html>