<!-- header -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>병원어때</title>
<link rel="stylesheet" href="/css/common/font.css">
<link rel="stylesheet" href="/css/common/reset.css">
<link rel="stylesheet" href="/css/common/common.css">
<script src="/js/lib/jquery-3.7.1.js"></script>
</head>
<body>

<div class="wrap">
    <header id="header">
        <div class="header_top_area">
            <div class="inner_wrap">
                <h1 class="logo"><a href="/"><span class="blind">병원어때</span></a></h1>
                <form class="main_search_form" action="/searchHospital" method="get">
                    <div class="input_item">
                        <input type="search" name="keyword" placeholder="지역, 진료과 또는 병명을 입력해보세요">
                    </div>
                    <button type="submit" class="btn_search"><span class="blind">검색</span></button>
                </form>
                <div class="user_menu_area">
                    <ul>
                        <li><a href="#" class="mypage">마이페이지</a></li>
                        <li><a href="#">로그아웃</a></li>
                    </ul>
                    <ul style="display:none;">
                        <li><a href="/member/signUpFrm">회원가입</a></li>
                        <li><a href="/member/signInFrm">로그인</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header_bottom_area">
            <nav class="gnb_area">
                <ul class="gnb_list">
                    <li><a href="#">병원찾기</a></li>
                    <li><a href="#">커뮤니티</a></li>
                    <li><a href="/etc/pharmacy">약국찾기</a></li>
                    <li>
                        <a href="#">고객센터</a>
                        <ul class="sub_menu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">자주묻는질문</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="blur"></div>
    </header>

</html>
<!--// header -->