<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>

<link rel="stylesheet" href="/css/lib/swiper-bundle.min.css">
<link rel="stylesheet" href="/css/service/hospitalDetail.css">
<!-- container -->
<main id="container" class="container">

    <!-- contents -->
    <section id="contents" class="contents hospitalDetail">
        <div class="inner_wrap">
            <div class="title_wrap">
                <h2 th:text="${h.hospitalName}">병원이름</h2>
                <!-- <a href="#" class="btn_like" onclick="like(this);"><span class="blind">즐겨찾기</span></a> -->
            </div>

            <div class="detail_area">
                <div class="detail_top_wrap">
                    <div class="banner_wrap">
                        <div class="hospitalDetail_banner">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img th:src="@{/hospital/image/}+@{${h.hospitalPicture}}" alt="병원사진">
                                </div>
                                <div class="swiper-slide">
                                    <img th:src="@{/hospital/image/}+@{${h.hospitalPicture}}" alt="병원사진">
                                </div>
                                <div class="swiper-slide">
                                    <img th:src="@{/hospital/image/}+@{${h.hospitalPicture}}" alt="병원사진">
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <!-- <div class="picture_wrap">
                        <div class="img_wrap">
                            <img th:src="@{/hospital/image}+@{${h.hospitalPicture}}" alt="병원사진">
                        </div>
                    </div> -->
                    <div class="info_wrap">
                        <ul class="top_info_list">
                            <li>
                                <div class="info_title">진료 과목</div>
                                <div class="info_content">
                                    <th:block th:each="s, status : ${h.subjectList}" th:if="${status.index <= 1}">
                                        <span class="subject_name" th:text="${s.subjectName}">ㅇㅇ과</span>
                                    </th:block>
                                    <th:block th:if="${h.subjectList.size() > 2}">
                                        <span class="subject_more">외 <strong th:text="${h.subjectList.size() - 2}"></strong>개 과</span>
                                    </th:block>
                                </div>
                            </li>
                            <li>
                                <div class="info_title">병원 위치</div>
                                <div class="info_content">
                                    <span class="addreess" th:text="${h.hospitalAddrMain}">주소</span>
                                    <span class="addreess" th:text="${h.hospitalAddrSub}">상세주소</span>
                                </div>
                            </li>
                            <li>
                                <div class="info_title">의료진</div>
                                <div class="info_content">
                                    <span class="doctor_count"><strong class="count" th:text="${h.doctorList.size()}"></strong>명</span>
                                </div>
                            </li>
                            <li>
                                <div class="info_title">평일 진료</div>
                                <div class="info_content">
                                    <span class="time_info" th:text="${h.time.dayHour}">00:00~00:00</span>
                                    <span class="open_status" th:classappend="${h.openStatus} == 진료중 ? open : closed" th:text="${h.openStatus}">현재 진료여부</span>
                                </div>
                            </li>
                            <li>
                                <div class="info_content">
                                    <th:block th:each="k : ${h.keywordList}">
                                        <span class="keyword">#<em th:text="${k.keyword}"></em></span>
                                    </th:block>
                                </div>
                            </li>
                        </ul>
                        <div class="btn_area" th:if="${session.member != null && session.member.memberType == 1}">
                            <a th:href="@{/service/reserveContactFrm(hospitalNo=${h.hospitalNo}, hospitalName=${h.hospitalName})}" class="btn_primary">진료 예약</a>
                            <a th:href="@{/service/reserveContactlessFrm(hospitalNo=${h.hospitalNo}, hospitalName=${h.hospitalName})}" class="btn_primary outline">비대면 진료</a>
                        </div>
                    </div>
                </div>

                <div class="detail_tab_wrap">
                    <div class="tab_menu_wrap">
                        <button type="button" class="tab_menu_btn active">병원 정보</button>
                        <button type="button" class="tab_menu_btn">진료 정보</button>
                        <button type="button" class="tab_menu_btn">리뷰</button>
                    </div>

                    <div class="tab_content_wrap">
                        <section class="tab_content">
                            <h3 class="blind">병원 정보</h3>

                            <div class="item_section">
                                <h4>진료 시간</h4>
                                <ul class="time_list">
                                    <li>
                                        <strong class="day_info">월요일</strong>
                                        <span class="time_info" th:text="${h.time.dayHour}"></span>
                                        <span class="lunch_hour">점심시간(<em th:text="${h.time.lunchHour}"></em>)</span>
                                    </li>
                                    <li>
                                        <strong class="day_info">화요일</strong>
                                        <span class="time_info" th:text="${h.time.dayHour}"></span>
                                        <span class="lunch_hour">점심시간(<em th:text="${h.time.lunchHour}"></em>)</span>
                                    </li>
                                    <li>
                                        <strong class="day_info">수요일</strong>
                                        <span class="time_info" th:text="${h.time.dayHour}"></span>
                                        <span class="lunch_hour">점심시간(<em th:text="${h.time.lunchHour}"></em>)</span>
                                    </li>
                                    <li>
                                        <strong class="day_info">목요일</strong>
                                        <span class="time_info" th:text="${h.time.dayHour}"></span>
                                        <span class="lunch_hour">점심시간(<em th:text="${h.time.lunchHour}"></em>)</span>
                                    </li>
                                    <li>
                                        <strong class="day_info">금요일</strong>
                                        <span class="time_info" th:text="${h.time.dayHour}"></span>
                                        <span class="lunch_hour">점심시간(<em th:text="${h.time.lunchHour}"></em>)</span>
                                    </li>
                                    <li>
                                        <strong class="day_info">토요일</strong>
                                        <span class="time_info" th:text="${h.time.weekendHour}"></span>
                                    </li>
                                    <li>
                                        <strong class="day_info">일요일</strong>
                                        <span class="time_info" th:text="${h.time.weekendHour}"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="item_section">
                                <h4>병원 소개</h4>
                                <p class="intro" th:text="${h.hospitalIntro}">병원소개글</p>
                            </div>
                            <div class="item_section">
                                <h4>위치</h4>
                                <p class="addreess">(<span th:text="${h.hospitalPostcode}"></span>) <span th:text="${h.hospitalAddrMain}">주소</span></p>
                                <p class="addreess" th:text="${h.hospitalAddrSub}">상세주소</p>
                            </div>
                            <div class="item_section">
                                <h4>전화번호</h4>
                                <p class="tel" th:text="${h.hospitalTel}">전화번호염</p>
                            </div>
                        </section>

                        <section class="tab_content">
                            <h3 class="blind">진료 정보</h3>

                            <div class="item_section">
                                <h4>진료 과목</h4>
                                <ul class="subject_list">
                                    <li class="subject_name" th:each="s : ${h.subjectList}" th:text="${s.subjectName}">진료과</li>
                                </ul>
                            </div>
                            <div class="item_section">
                                <h4>의료진</h4>
                                <ul class="doctor_list">
                                    <li th:each="d : ${h.doctorList}">
                                        <div class="doctor_img_wrap">
                                            <img th:src="@{/doctor/}+@{${d.doctorPicture}}" alt="의사사진">
                                        </div>
                                        <div class="doctor_info_wrap">
                                            <div class="title_wrap">
                                                <strong class="doctor_name" th:text="${d.doctorName}">의사이름</strong>
                                                <span class="subject_name" th:text="${d.subjectName}">진료과</span>
                                            </div>
                                            <div class="info_wrap">
                                                <p class="education_info" th:text="${d.doctorEducation}">의사 학력 정보</p>
                                                <p class="experience_info" th:text="${d.doctorExperience}">의사 경력 정보</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item_section">
                                <h4>진료비용</h4>
                                <p class="cost_one">기본 진료비: <span th:text="${h.costOne}"></span>원</p>
                                <p class="cost_one">기타 진료비: <span th:text="${h.costTwo}"></span>원</p>
                            </div>
                        </section>

                        <section class="tab_content">

                            <div class="review_wrap">
                                <div class="review_top_wrap">
                                    <div class="top_title_wrap">
                                        <h3>리뷰</h3>
                                        <span class="review_count" th:text="${h.reviewCount}"></span>
                                        <div class="rating_wrap">
                                            <div class="star_wrap"><span class="star" th:style="${'width:'}+${h.ratingAvg*20}+'%'"></span></div><div class="avg" th:text="${h.ratingAvg}"></div>
                                        </div>
                                    </div>
                                    <th:block th:if="${session.member != null}">
                                        <button type="button" th:if="${myResCount > 0 && myResCount != myReviewCount}" class="btn_primary outline btn_write" onclick="selectResList(this);">리뷰 작성하기</button>
                                    </th:block>
                                </div>
                                <div class="review_main_wrap">
                                    <div class="sorting_wrap">
                                        <div class="select">
                                            <select name="review_sort">
                                                <option value="1" selected>최신순</option>
                                                <option value="2">별점순</option>
                                            </select>
                                        </div>
                                    </div>
                                    <ul class="review_list">
                                        <!-- <li>
                                            <div class="detail_top_wrap">
                                                <div class="rating_wrap">
                                                    <div class="star_wrap"><span class="star"></span></div><div class="rating">5</div>
                                                </div>
                                            </div>
                                            <div class="detail_cont_wrap">
                                                <div class="review_txt">
                                                    리뷰내용<br>
                                                    리뷰내용
                                                </div>
                                                <button type="button" class="view_more">펼쳐보기</button>
                                            </div>
                                            <div class="detail_btm_wrap">
                                                <span>김땡땡</span>
                                                <span>2024-01-01</span>
                                                <div class="btm_btn_wrap">
                                                    <a href="#" class="report_btn">신고하기</a>
                                                </div>
                                            </div>
                                        </li> -->
                                    </ul>
                                    <div class="btn_area">
                                        <button type="button" id="viewMore" class="btn_secondary outline view_more">더보기</button>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
    </section>
    <!--// contents -->

</main>
<!--// container -->

<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->
<script src="/js/lib/swiper-bundle.min.js"></script>
<script th:inline="javascript">

    // console.log([[${myResCount}]]);
    // console.log([[${myReviewCount}]]);

    //리뷰
    const hospitalNo = [[${h.hospitalNo}]];
    const totalCount = [[${h.reviewCount}]];
    // console.log(totalCount);
    let sortValue = $(".review_wrap select[name=review_sort]").val();
    let currentCount = 0;
    let start = 1;

    if(totalCount == 0){
        let noDataDiv = [
            "<li>",
                "<div class='no_data_wrap'>",
                    "<i class='icon no_data'></i>",
                    "<p>리뷰가 없습니다.</p>",
                "</div>",
            "</li>"
        ].join("");
        $(".review_list").append(noDataDiv);
        $("#viewMore").parent(".btn_area").hide();
    }

    $(".review_wrap select[name=review_sort]").on("change", function(){
        $(".review_list").empty();
        sortValue = $(this).val();
        currentCount = 0;
        start = 1;
        $("#viewMore").parent(".btn_area").show();
        $("#viewMore").click();
    })

    $("#viewMore").on("click", function(){
        const amount = 3;
        $.ajax({
            url: "/service/selectReviewList",
            type: "GET",
            dataType: "JSON",
            data: {
                hospitalNo: hospitalNo,
                sortValue: sortValue,
                start: start,
                amount: amount
            },
            success: function(data) {
                if($(data).length == 0){
                    $(".review_list").empty();
                    let noDataDiv = [
                        "<li>",
                            "<div class='no_data_wrap'>",
                                "<i class='icon no_data'></i>",
                                "<p>리뷰가 없습니다.</p>",
                            "</div>",
                        "</li>"
                    ].join("");
                    $(".review_list").append(noDataDiv);
                    return;
                };
                $(data).each(function(index, item){
                    const starWidth = item.reviewRating*20;
                    let reviewString = [
                        "<li>",
                            "<div class='detail_top_wrap'>",
                                "<div class='rating_wrap'>",
                                    "<div class='star_wrap'><span class='star' style='width:"+starWidth+"%'></span></div>",
                                    "<div class='rating'>"+item.reviewRating+"</div>",
                                "</div>",
                            "</div>",
                            "<div class='detail_cont_wrap'>",
                                "<div class='review_txt'>",
                                    item.reviewContent,
                                "</div>",
                            "</div>",
                            "<div class='detail_btm_wrap'>",
                                "<span>"+item.memberName+"</span>",
                                "<span>"+item.reviewDate+"</span>",
                            "</div>",
                        "</li>"
                    ].join("");
                    $(".review_list").append(reviewString);
                    if(item.reviewImg != null){
                        const reviewThumb = $("<div class='review_thumb'>");
                        const reviewImg = $("<img src='/reservation/review/"+item.reviewImg+"' alt='리뷰 이미지'>");
                        reviewThumb.append(reviewImg);
                        $(".review_list .detail_cont_wrap").preppend(reviewThumb);
                    }
                })
                start=start+amount;
                currentCount = currentCount+data.length;
                if(currentCount == totalCount){
                    $("#viewMore").parent(".btn_area").hide();
                }
            },
            error: function(){
                console.log("에러");
            }
        });
    })
    $("#viewMore").click();

    //배너
    const swiper = new Swiper('.hospitalDetail_banner', {
        slidesPerView: 1,
        pagination: {
            el: '.swiper-pagination',
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    //탭
    const tabMenuH = $(".detail_tab_wrap .tab_menu_wrap").outerHeight();
    $(".detail_tab_wrap .tab_menu_btn").on("click", function () {
        const index = $(this).index();
        const tabContentTop = $(".detail_tab_wrap .tab_content_wrap>.tab_content").eq(index).offset().top - tabMenuH - 60;
        $("html").stop().animate({ scrollTop: tabContentTop }, 0, function () {
            $(".detail_tab_wrap .tab_menu_btn").removeClass("active");
            $(this).addClass("active");
        });
    })

    $(window).on("scroll", function () {
        const windowTop = $(window).scrollTop();
        const bodyScrollH = $("body").prop("scrollHeight");

        $(".detail_tab_wrap .tab_menu_btn").each(function (index, item) {
            if (windowTop >= $(".detail_tab_wrap .tab_content_wrap>.tab_content").eq(index).offset().top - tabMenuH - 60) {
                $(".detail_tab_wrap .tab_menu_btn").removeClass("active");
                $(".detail_tab_wrap .tab_menu_btn").eq(index).addClass("active");
            }
        })

        if (windowTop >= bodyScrollH - $(window).innerHeight()) {
            $(".detail_tab_wrap .tab_menu_btn").removeClass("active");
            $(".detail_tab_wrap .tab_menu_btn:last-child").addClass("active");
        }
    })

    //진료시간
    const hospital = [[${h}]];
    // console.log(hospital);
    const holiday = String(hospital.time.holiday);
    const date = new Date();
    const today = date.getDay();//0:일 ~ 6:토
    $(".time_list>li").each(function (index, item) {
        if (index !== 6) {
            if (holiday.indexOf(index + 2) !== -1) {
                const dayInfo = $(item).find(".day_info");
                dayInfo.parent("li").addClass("holiday");
                dayInfo.next(".time_info").text("휴진");
                dayInfo.siblings(".lunch_hour").remove();
            }
            if (today == (index + 1)) {
                const dayInfo = $(item).find(".day_info");
                $(item).addClass("today");
            }
        } else {
            if (holiday.indexOf(1) !== -1) {
                const dayInfo = $(item).find(".day_info");
                dayInfo.parent("li").addClass("holiday");
                dayInfo.next(".time_info").text("휴진");
                dayInfo.siblings(".lunch_hour").remove();
            }
            if (today == (index - 6)) {
                const dayInfo = $(item).find(".day_info");
                $(item).addClass("today");
            }
        }
    })

    const member = [[${session.member}]];
    
    //리뷰 작성 모달
    function selectResList(obj){
        $.ajax({
            url: "/service/selectResList",
            type: "GET",
            dataType: "JSON",
            data: {hospitalNo: hospitalNo},
            success: function(data){
                console.log(data);

                const modal = $("<div class='modal lg' id='myResListModal'>");
                const modalWrap = $("<div class='modal_wrap'>");
                const modalHeader = $("<div class='modal_header'>");
                const modalTitle = $("<div class='modal_title'>내 진료내역</div>");
                const modalContainer = $("<div class='modal_container'>");
                const modalContent = $("<div class='modal_content'>");
                const historyList = $("<ul class='history_list'>");
                const btnClose = $("<button type='button' onclick='closeModal(this);' class='btn_close'><span class='blind'>닫기</span></button>");

                $(data).each(function(index, item){
                    const li = $("<li>");
                    const badgeArea = $("<div class='badge_area'>");
                    const badge = $("<span class='badge gray'>");
                    if(item.reservationStatus == 4){
                        badge.text("진료완료");
                    }else if(item.reservationStatus == 5){
                        badge.text("수납완료");
                    }
                    const resType = $("<span class='res_type badge'>");
                    if(item.reservationType == 1){
                        resType.addClass("contact");
                        resType.text("대면진료");
                    }else{
                        resType.addClass("contactless");
                        resType.text("비대면진료");
                    }
                    const name = $("<span class='name'>");
                    if(member != null){
                        name.text(member.memberName);
                    }
                    badgeArea.append(badge);
                    badgeArea.append(resType);
                    badgeArea.append(name);

                    const infoArea = $("<div class='info_area'>");
                    const strongTag = $("<strong class='hospital_name'>");
                    strongTag.text([[${h.hospitalName}]]);
                    infoArea.append(strongTag);
                    const resTime = $("<div class='res_time'>");
                    const resSpan = $("<span>");
                    resSpan.text(item.reserationTime);
                    resTime.append(resSpan);

                    const btnArea = $("<div class='btn_area'>");
                    const btnReview = $("<a href='/member/myReviewFrm?reservationNo="+item.reservationNo+"' class='btn_primary outline'>리뷰 작성</a>");
                    btnArea.append(btnReview);

                    li.append(badgeArea).append(infoArea).append(resTime).append(btnArea);
                    historyList.append(li);
                })
                modalContent.append(historyList);
                modalContainer.append(modalContent);
                modalHeader.append(modalTitle);
                modalWrap.append(modalHeader);
                modalWrap.append(modalContainer);
                modalWrap.append(btnClose);
                modal.append(modalWrap);
                $("body").append(modal);
                $("html").addClass("scroll_fixed");
            },
            error: function(){
                console.log("에러");
            }
        })
    }
    

    
</script>
</body>

</html>