<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/service/hospitalDetail.css">

<th:block th:include="common/header"></th:block>

	<!-- container -->
    <main id="container" class="container">

		<!-- contents -->
        <section id="contents" class="contents hospitalDetail">
            <div class="inner_wrap">
                <h2>병원 상세</h2>
                
                <div class="detail_area">
                    <div class="detail_top_wrap">
                        <div class="lt_area">
                            <h3>병원이름!!</h3>
                            <div class="summary_info">
                                <span class="open_status">진료여부</span>
                                <span class="time_info">10:00~18:00</span>
                            </div>
                            <div class="banner_wrap">
                                --병원 배너 영역--
                            </div>
                        </div>
                        <div class="rt_area">
                            <div class="top_info_list">
                                <li>
                                    <div class="info_title">진료과목</div>
                                    <div class="info_content">
                                        <span class="subject_name">ㅇㅇ과</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="info_title">병원위치</div>
                                    <div class="info_content">
                                        <span class="addreess">주소주소주소주소</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="info_title">의료진</div>
                                    <div class="info_content">
                                        <span class="doctor_count"><span class="count">0</span>명</span>
                                    </div>
                                </li>
                                
                            </div>
                        </div>
                    </div>

                    <div class="detail_tab_wrap">
                        <div class="tab_menu_wrap">
                            <button type="button" class="tab_menu_btn">병원 정보</button>
                            <button type="button" class="tab_menu_btn">진료 정보</button>
                            <button type="button" class="tab_menu_btn">리뷰</button>
                        </div>

                        <div class="tab_content_wrap">
                            <section class="tab_content">
                                <h3 class="blind">병원 정보</h3>

                                <div class="item_section">
                                    <h4>진료 시간</h4>
                                    <ul class="time_list">
                                        <li>
                                            <strong class="day_info">오늘</strong>
                                            <span class="time_info">10:00~19:00</span>
                                        </li>
                                        <li>
                                            <strong class="day_info">점심시간</strong>
                                            <span class="time_info">10:00~19:00</span>
                                        </li>
                                        <li>
                                            <strong class="day_info">월요일</strong>
                                            <span class="time_info">10:00~19:00</span>
                                        </li>
                                        <li>
                                            <strong class="day_info">화요일</strong>
                                            <span class="time_info">10:00~19:00</span>
                                        </li>
                                        <li>
                                            <strong class="day_info">수요일</strong>
                                            <span class="time_info">10:00~19:00</span>
                                        </li>
                                        <li>
                                            <strong class="day_info">목요일</strong>
                                            <span class="time_info">10:00~19:00</span>
                                        </li>
                                        <li>
                                            <strong class="day_info">금요일</strong>
                                            <span class="time_info">10:00~19:00</span>
                                        </li>
                                        <li>
                                            <strong class="day_info">토요일</strong>
                                            <span class="time_info">10:00~19:00</span>
                                        </li>
                                        <li>
                                            <strong class="day_info">일요일</strong>
                                            <span class="time_info">10:00~19:00</span>
                                        </li>
                                        <li>
                                            <strong class="day_info">공휴일</strong>
                                            <span class="time_info">10:00~19:00</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item_section">
                                    <h4>위치</h4>
                                    <p class="addreess">주소주소</p>
                                </div>
                                <div class="item_section">
                                    <h4>전화번호</h4>
                                    <p class="tel">전화번호염</p>
                                </div>
                            </section>
                            <section class="tab_content">
                                <h3 class="blind">진료 정보</h3>

                                <div class="item_section">
                                    <h4>진료 과목</h4>
                                    <div class="subject_info">
                                        <span class="subject_name">진료과</span>
                                    </div>
                                </div>
                                <div class="item_section">
                                    <h4>의료진</h4>
                                    <ul class="doctor_list">
                                        <li>
                                            <div class="doctor_img_wrap">
                                                <img src="" alt="의사사진">
                                            </div>
                                            <div class="doctor_info_wrap">
                                                <p class="title_wrap">
                                                    <strong class="doctor_name">의사이름</strong>
                                                    <span class="subject_name">진료과</span>
                                                </p>
                                                <p class="education_info">의사 학력 정보 여기에 길게 나오겠지</p>
                                                <p class="experience_info">의사 경력 정보 여기에 길게 나오겠지 근데 끊어서 출력할 방법을 찾아야 한다.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item_section">
                                    <h4>리뷰</h4>
                                    <div class="review_wrap">
                                        <div class="review_top_wrap">

                                        </div>
                                        <div class="review_main_wrap">
                                            <div class="tap_menu_wrap">
                                                <button type="button" class="review_tab_btn">추천순</button>
                                                <button type="button" class="review_tab_btn">최신순</button>
                                            </div>
                                            <div class="tab_content_wrap">
                                                <section class="tab_content">
                                                    <ul class="review_list">
                                                        <li>
                                                            <div class="detail_top_wrap">

                                                            </div>
                                                            <div class="detail_cont_wrap">

                                                            </div>
                                                            <div class="detail_btm_wrap">
                                                                <span class="review_date">리뷰날짜</span>
                                                                <span class="review_writer">작성자</span>
                                                                <div class="btm_btn_wrap">
                                                                    <button type="button" class="report_btn">신고하기</button>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
	    <!--// contents -->
        
    </main>
    <!--// container -->
	
<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->
</body>
</html>