<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>

<link rel="stylesheet" href="/css/service/reserveFrm.css">
<script src="/js/lib/jquery-ui.min.js"></script>

	<!-- container -->
    <main id="container" class="container">

		<!-- contents -->
        <section id="contents" class="contents reserveContact">
            <div class="inner_wrap">
                <h2>진료 예약</h2>
                <div class="reserve_area">
                    <!-- 트리거 만들지? -->
                    <!-- 예약테이블: 예약번호(시퀀스), 병원번호(h.hospitalNo), 회원번호(session), 예약상태(항상 1), 예약접수시간(선택)(sysdate yyyy-mm-dd hh:24:mi:ss), 예약타입(1:대면), 예약시간(선택) -->
                    <!-- 예약상세테이블: 예약상세번호(시퀀스), 예약번호(직전예약테이블번호), 의사번호(null), 과목번호(선택), 증상(null 가능), 자녀번호(null 가능) -->
                    <div class="hospital_name" th:text="${h.hospitalName}"></div>
                    <form action="/service/reserveContact" method="post" class="reserve_form">
                        <div class="form_area">
                            <input type="hidden" name="hospitalNo" th:value="${h.hospitalNo}">
                            <input type="hidden" name="hospitalName" th:value="${h.hospitalName}"><!-- 예약완료 모달에 정보 알려주기 위함 -->
                            <input type="hidden" name="memberName" th:value="${session.member.memberName}"><!-- 예약완료 모달에 정보 알려주기 위함 -->
                            <input type="hidden" name="doctorNo" value="0"><!-- 의사는 null -->
                            <input type="hidden" name="memberNo" th:value="${session.member.memberNo}"><!-- 접수자 본인 -->
                            <input type="hidden" name="reservationType" value="1"><!-- 예약타입: 대면(1) -->

                            <div class="input_wrap">
                                <h4 class="input_title">진료 대상자</h4>
                                <div class="select">
                                    <select id="nameSelect" name="childNo">
                                        <option th:value="0" th:text="${session.member.memberName}"></option><!-- 자녀 없을시 childNo는 null -->
                                    </select>
                                </div>
                            </div>

                            <div class="input_wrap">
                                <h4 class="input_title">진료 과목</h4>
                                <div class="select">
                                    <select name="subjectNo">
                                        <option th:each="s : ${h.subjectList}" th:value="${s.subjectNo}" th:text="${s.subjectName}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="date_wrap">
                                <h4 class="input_title">예약 날짜</h4>
                                <div id="datepicker"></div>
                            </div>

                            <div class="time_wrap">
                                <h4 class="input_title">예약 시간</h4>
                                
                                <h5 class="item_title" style="display:none;">오전</h5>
                                <div class="radio_wrap box_type am_time">
                                    <!-- <div class="radio boxtype">
                                        <input type="radio" name="reservationTime" id="boxtype1_1">
                                        <label for="boxtype1_1">09:30</label>
                                    </div>-->
                                </div>

                                <h5 class="item_title" style="display:none;">오후</h5>
                                <div class="radio_wrap box_type pm_time">
                                    <!-- <div class="radio boxtype">
                                        <input type="radio" name="reservationTime" id="boxtype1_11">
                                        <label for="boxtype1_11">09:30</label>
                                    </div>-->
                                </div>

                                <div class="no_data_wrap">
                                    <i class="icon no_data"></i>
                                    <p>날짜를 선택하세요.</p>
                                </div>
                            </div>

                            <div class="input_wrap">
                                <h4 class="input_title">증상 입력<em>(선택)</em></h4>
                                <div class="textarea">
                                    <textarea name="symptom" placeholder="증상을 입력해주세요(최대 120자)"></textarea>
                                </div>
                            </div>

                        </div>

                        <div class="btn_area">
                            <button type="submit" class="btn_primary lg" onclick="return checkForm();">완료</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--// contents -->
        
    </main>
    <!--// container -->
	
<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->
<script th:inline="javascript">
    const hospital = [[${h}]];
    const dayHour = hospital.time.dayHour;
    const weekendHour = hospital.time.weekendHour;
    const lunchHour = hospital.time.lunchHour;
    const holiday = String(hospital.time.holiday);
    let holidayArr = [];
    const date = new Date();
    const currHour = date.getHours();
    const currMinutes = date.getMinutes();

    console.log(hospital);

    $(function(){
        /* datepicker */
        //날짜는 1달 기준으로 활성화
        $("#datepicker").datepicker("setDate","today");
        $("#datepicker").datepicker({
            changeYear: false,
            changeMonth: false,
            showMonthAfterYear: true,
            yearSuffix: '년',
            dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            monthNameShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
            monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            prevText: '이전 달',
            nextText: '다음 달',
            minDate: 'today',
            maxDate: '+1M',
            onSelect: selectDay,
            beforeShowDay: disableHoliday
        });

        //휴무일 초기 세팅
        function disableHoliday(date){
            //휴무일 배열
            for(let i=0;i<7;i++){
                if(holiday.indexOf(i+1) !== -1){
                    holidayArr.push(i);
                };
            }
            //휴무일 비활성화
            for(i=0; i<holidayArr.length; i++) {
                if($.inArray(date.getDay(), holidayArr) != -1) {
                    return [false];
                }
            }
            return [true];
        }

        //날짜 선택시 실행할 함수
        function selectDay(){
            const dpDate = $.datepicker.formatDate("yy-mm-dd", $("#datepicker").datepicker("getDate"));
            const day =  $("#datepicker").datepicker("getDate").getDay();
            $(".time_wrap .item_title").show();
            $(".no_data_wrap").hide();
            if(day == 0 || day == 6){
                //주말 선택
                timeSetting(weekendHour, day, dpDate);
            }else{
                //평일 선택
                timeSetting(dayHour, day, dpDate);
            }
        }

        //평일/주말 선택시 타임테이블 뿌려주기
        function timeSetting(hour, day, dpDate){
            const hourArr = hour.split("~");
            const timeStart = hourArr[0];
            const timeEnd = hourArr[1];
            const timeStartArr = timeStart.split(":");
            const timeStartHour = Number(timeStartArr[0]);
            const timeStartMinutes = Number(timeStartArr[1]);
            const timeEndArr = timeEnd.split(":");
            const timeEndHour = Number(timeEndArr[0]);
            const timeEndMinutes = Number(timeEndArr[1]);
            let timeArr = [];

            //진료시간(시) 배열 - 30분 단위이므로 2개씩 넣기[9,9,10,10 ... 17,17,18,18]
            //영업시간 1시간 전까지만 예약 가능
            for(let i=timeStartHour;i<timeEndHour;i++){
                for(let j=0;j<2;j++){
                    if(i < 10){
                        timeArr.push("0"+i);
                    }else{
                        timeArr.push(i);
                    }
                }
            }
            //진료시간이 HH:30부터 시작할 시 첫 번째 배열 삭제[9,10,10...]
            if(timeStartMinutes == 30){
                timeArr.shift();
            }
            //진료시간이 HH:00으로 끝날 시 마지막 배열 삭제[...17,17,18]
            if(timeEndMinutes == 0){
                timeArr.pop();
            }
            
            //진료시간에 분 넣어서 라디오버튼 생성
            let minutes;
            $(".radio_wrap").empty();
            for(let i=0;i<timeArr.length;i++){
                //진료시간이 HH:00부터 시작할 시 분은 00, 30 번갈아 나오게
                //진료시간이 HH:30부터 시가할 시 분은 30, 00 번갈아 나오게
                if(i % 2 == 0){
                    minutes = timeStartMinutes == 0 ? "00" : 30;
                }else{
                    minutes = timeStartMinutes == 0 ? 30 : "00";
                }
                let timeValue = timeArr[i]+":"+minutes;
                let radioDivString = [
                    "<div class='radio boxtype'>",
                        "<input type='radio' name='reservationTime' id='boxtype_"+i+"' value='"+timeValue+"'>",
                        "<label for='boxtype_"+i+"'>"+timeValue+"</label>",
                    "</div>"
                ].join("");
                //오전 시간대는 .am_time, 오후 시간대는 .pm_time 안에 추가
                if(timeArr[i] < 12){
                    $(".radio_wrap.am_time").append(radioDivString);
                }else{
                    $(".radio_wrap.pm_time").append(radioDivString);
                }
            }
            //평일인 경우 점심시간에 해당하는 라디오 버튼 비활성화
            //점심시간 끝나는 시점부턴 예약 가능
            if(day != 0 && day != 6){
                const lunchHourArr = lunchHour.split("~");
                const lunchHourStart = $("[name='reservationTime'][value='"+lunchHourArr[0]+"']").closest(".boxtype");
                const lunchHourEnd = $("[name='reservationTime'][value='"+lunchHourArr[1]+"']").closest(".boxtype");
                lunchHourStart.find("[name='reservationTime']").prop("disabled", true);
                lunchHourStart.nextUntil(lunchHourEnd).find("[name='reservationTime']").prop("disabled", true);
            }
            //오늘 날짜 선택시 현재시각 기준 지나간 시간은 비활성화(1시간 단위. 예약은 당일 1시간 전까지만 가능)
            const today = $.datepicker.formatDate('yy-mm-dd', date);
            if(today == dpDate){
                for(let i=timeStartHour;i<currHour+1;i++){
                    if(i < 10){
                        $("[name='reservationTime'][value^='0"+i+"']").closest(".boxtype").find("[name='reservationTime']").prop("disabled", true);
                    }
                    $("[name='reservationTime'][value^='"+(i+1)+"']").closest(".boxtype").find("[name='reservationTime']").prop("disabled", true);
                    if(currMinutes < 30){
                        $("[name='reservationTime'][value^='"+(currHour+1)+":30']").closest(".boxtype").find("[name='reservationTime']").prop("disabled", false);    
                    }
                }
            }
            //시간 선택시 value 부여(YYYY-MM-DD HH24:MM)
            $(".radio_wrap").find("[name='reservationTime']").on("click", function(){
                const thisVal = $(this).val();
                $(this).val(`${dpDate} ${thisVal}`);
            })
        }
        //진입시 클릭 트리거
        $(".ui-state-active").click();
    });

    //자녀 번호 가져오기
    const memberNo = [[${session.member.memberNo}]];
    $.ajax({
        url: "/service/selectMyChildInfo", 
        type: "POST",
        dataType: "JSON",
        data: {memberNo: memberNo},
        success: function(data){
            $(data).each(function(index, item){
                const option = $("<option>");
                option.val(Number(item.childNo));
                option.text(item.childName);
                $("#nameSelect").append(option);
            })
        },
        error: function(){
            console.log("에러");
        }
    })

    //폼 전송시 값 체크
    function checkForm(){
        if(!$("[name='reservationTime']:checked").val()){
            alert("시간을 선택해주세요.");
            return false;
        }else{
            if(confirm("해당 날짜로 예약하시겠습니까?")){
                return true;
            }else{
                return false;
            }
        }
    }
</script>
</body>
</html>