<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>

<!-- <link rel="stylesheet" href="/css/lib/jquery-ui.min.css"> -->
<link rel="stylesheet" href="/css/service/reserveContact.css">
<script src="/js/lib/jquery-ui.min.js"></script>

	<!-- container -->
    <main id="container" class="container">

		<!-- contents -->
        <section id="contents" class="contents reserveContact">
            <div class="inner_wrap">
                <h2>진료 예약</h2>
                <div class="reserve_area">
                    <!-- 트리거 만들지? -->
                    <!-- 예약테이블: 예약번호(시퀀스), 병원번호(h.hospitalNo), 회원번호(session), 예약상태(항상 1), 예약접수시간(선택)(sysdate yyyy-mm-dd hh:24:mi:ss), 예약타입(여기선 1), 예약시간(예약접수시간과 동일하게) -->
                    <!-- 예약상세테이블: 예약상세번호(시퀀스), 예약번호(직전예약테이블번호), 의사번호(h.doctorList[0)], 과목번호(선택), 증상(필수 아님) -->
                    <form action="/service/reserveContact" method="post">
                        <div class="form_area">

                            <div class="input_wrap">
                                <h4 class="input_title">진료 대상자</h4>
                                <div class="select">
                                    <!-- 세션에서 값 가져오기 -->
                                    <select>
                                        <option>김성은</option>
                                        <option>김연우</option>
                                        <option>이효경</option>
                                        <option>윤도준</option>
                                    </select>
                                </div>
                            </div>

                            <div class="input_wrap">
                                <h4 class="input_title">진료 과목</h4>
                                <div class="select">
                                    <select>
                                        <option th:each="s : ${h.subjectList}" th:value="${s.subjectNo}" th:text="${s.subjectName}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="date_wrap">
                                <h4 class="input_title">예약 날짜</h4>
                                <div id="datepicker"></div>
                            </div>

                            <div class="time_wrap">
                                <h4 class="input_title">예약 시간</h4>
                                
                                <h5 class="item_title">오전</h5>
                                <div class="radio_wrap box_type">
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_1">
                                        <label for="boxtype1_1">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_2">
                                        <label for="boxtype1_2">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_3">
                                        <label for="boxtype1_3">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_4">
                                        <label for="boxtype1_4">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_5">
                                        <label for="boxtype1_5">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_6">
                                        <label for="boxtype1_6">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_7">
                                        <label for="boxtype1_7">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_8">
                                        <label for="boxtype1_8">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_9">
                                        <label for="boxtype1_9">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_10">
                                        <label for="boxtype1_10">09:30</label>
                                    </div>
                                </div>

                                <h5 class="item_title">오후</h5>
                                <div class="radio_wrap box_type">
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_11">
                                        <label for="boxtype1_11">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_12">
                                        <label for="boxtype1_12">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_13">
                                        <label for="boxtype1_13">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_14">
                                        <label for="boxtype1_14">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_15">
                                        <label for="boxtype1_15">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_16">
                                        <label for="boxtype1_16">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_17">
                                        <label for="boxtype1_17">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_18">
                                        <label for="boxtype1_18">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_19">
                                        <label for="boxtype1_19">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_20">
                                        <label for="boxtype1_20">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_21">
                                        <label for="boxtype1_21">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_22">
                                        <label for="boxtype1_22">09:30</label>
                                    </div>
                                    <div class="radio boxtype">
                                        <input type="radio" name="radio_boxtype" id="boxtype1_23">
                                        <label for="boxtype1_23">09:30</label>
                                    </div>
                                </div>    
                            </div>

                            <div class="input_wrap">
                                <h4 class="input_title">증상 입력<em>(선택)</em></h4>
                                <div class="textarea">
                                    <textarea placeholder="증상을 입력해주세요(최대 120자)"></textarea>
                                </div>
                            </div>

                        </div>

                        <div class="btn_area">
                            <button type="submit" class="btn_primary lg">완료</button>
                        </div>
                    </form>
                </div>            
            </div>
        </section>
        <!--// contents -->
        
    </main>
    <!--// container -->
	
<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->
<script th:inline="javascript">
    console.log([[${h}]]);
    $(function(){
        $("#datepicker").datepicker({
            changeYear: false,
            changeMonth: false,
            dayNames: ['월요일','화요일','수요일','목요일','금요일','토요일','일요일'],
            dayNamesMin: ['월','화','수','목','금','토','일'],
            monthNameShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
            monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            prevText: '이전 달',
            nextText: '다음 달'
        });
    });
</script>
</body>
</html>