<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>

<link rel="stylesheet" href="/css/service/reserveFrm.css">

	<!-- container -->
    <main id="container" class="container">

		<!-- contents -->
        <section id="contents" class="contents reserveContactless">
            <div class="inner_wrap">
                <h2>비대면 진료 예약</h2>
                <div class="reserve_area">
                    <!-- 예약테이블: 예약번호(시퀀스), 병원번호(h.hospitalNo), 회원번호(session), 예약상태(항상 1), 예약접수시간(선택)(sysdate yyyy-mm-dd hh:24:mi:ss), 예약타입(2:비대면), 예약시간(접수시간으로..) -->
                    <!-- 예약상세테이블: 예약상세번호(시퀀스), 예약번호(직전예약테이블번호), 의사번호(선택), 과목번호(null), 증상(null 가능), 자녀번호(null 가능) -->
                    <div class="hospital_name" th:text="${h.hospitalName}"></div>
                    <form action="/service/reserveContactless" method="post" class="reserve_form" enctype="multipart/form-data">
                        <div class="form_area">
                            <input type="hidden" name="hospitalNo" th:value="${h.hospitalNo}">
                            <input type="hidden" name="hospitalName" th:value="${h.hospitalName}"><!-- 예약완료 모달에 정보 알려주기 위함 -->
                            <input type="hidden" name="memberName" th:value="${session.member.memberName}"><!-- 예약완료 모달에 정보 알려주기 위함 -->
                            <input type="hidden" name="memberNo" th:value="${session.member.memberNo}"><!-- 접수자 본인 -->
                            <input type="hidden" name="reservationType" value="2"><!-- 예약타입: 비대면(2) -->

                            <div class="input_wrap">
                                <h4 class="input_title">진료 대상자</h4>
                                <div class="select">
                                    <select id="nameSelect" name="childNo">
                                        <option th:value="0" th:text="${session.member.memberName}"></option><!-- 자녀 없을시 childNo는 null -->
                                    </select>
                                </div>
                            </div>

                            <div class="input_wrap">
                                <h4 class="input_title">진료받을 의사 선택</h4>
                                <div class="select">
                                    <select name="doctorNo">
                                        <option th:each="d : ${h.doctorList}" th:value="${d.doctorNo}" th:text="${d.doctorName}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="input_wrap">
                                <h4 class="input_title">증상 입력<em>(선택)</em></h4>
                                <div class="textarea">
                                    <textarea name="symptom" placeholder="증상을 입력해주세요(최대 120자)"></textarea>
                                </div>
                            </div>

                            <div class="input_wrap">
                                <div class="input_item">
                                    <input type="file" name="imgFile" accept=".jpg, .png, .jpeg" id="fileInput" multiple th:onchange="loadImg(this);">
                                    <label for="fileInput"><span class="blind">사진 선택</span></label>
                                </div>
                            </div>

                            <div class="checkbox_wrap row">
                                <div class="input_item">
                                    <input type="checkbox" class="checkAll" name="check_agree_all" id="check_agreeAll">
                                    <label for="check_agreeAll">전체 동의</label>
                                </div>
                                <div class="input_item">
                                    <input type="checkbox" name="check_agree_req" id="check_agree1">
                                    <label for="check_agree1">(필수)개인정보 수집 및 이용 동의</label>
                                    <button type="button" class="btn_more" onclick="openModal(terms1)"><span class="blind">더보기</span></button>
                                </div>
                                <div class="input_item">
                                    <input type="checkbox" name="check_agree_req" id="check_agree2">
                                    <label for="check_agree2">(필수)민감정보 수집 및 이용 동의</label>
                                    <button type="button" class="btn_more" onclick="openModal(terms2)"><span class="blind">더보기</span></button>
                                </div>
                                <div class="input_item">
                                    <input type="checkbox" name="check_agree_req" id="check_agree3">
                                    <label for="check_agree3">(필수)고유식별정보 수집 동의</label>
                                    <button type="button" class="btn_more" onclick="openModal(terms3)"><span class="blind">더보기</span></button>
                                </div>
                            </div>

                        </div>

                        <div class="btn_area">
                            <button type="submit" class="btn_primary lg" onclick="return checkForm();">완료</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--// contents -->
        
    </main>
    <!--// container -->

<!-- 약관 모달1 -->
<div id="terms1" class="modal lg" style="display:none;">
    <div class="modal_wrap">
        
        <div class="modal_header">
            <div class="modal_title">개인정보 수집 및 이용 동의</div>
        </div>

        <div class="modal_container">
            <div class="modal_content">
                <p>제 1 장 총 칙</p><br>
                
                <p>제 1 조 (목적)</p>
                <p>이 약관은 {COMPANY_NAME}(이하 "사이트"라 합니다)에서 제공하는 인터넷서비스(이하 "서비스"라 합니다)의 이용 조건 및 절차에 관한 기본적인 사항을 규정함을 목적으로 합니다.</p><br>
                                 
                <p>제 2 조 (약관의 효력 및 변경)</p>
                <p>① 이 약관은 서비스 화면이나 기타의 방법으로 이용고객에게 공지함으로써 효력을 발생합니다.</p>
                <p>② 사이트는 이 약관의 내용을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는 통지함으로써 효력을 발생합니다.</p><br>
                
                <p>제 3 조 (용어의 정의)</p>
                <p>이 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
                <p>① 회원 : 사이트와 서비스 이용계약을 체결하거나 이용자 아이디(ID)를 부여받은 개인 또는 단체를 말합니다.</p>
                <p>② 신청자 : 회원가입을 신청하는 개인 또는 단체를 말합니다.</p>
                <p>③ 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 정하고 사이트가 승인하는 문자와 숫자의 조합을 말합니다.</p>
                <p>④ 비밀번호 : 회원이 부여 받은 아이디(ID)와 일치된 회원임을 확인하고, 회원 자신의 비밀을 보호하기 위하여 회원이 정한 문자와 숫자의 조합을 말합니다.</p>
                <p>⑤ 해지 : 사이트 또는 회원이 서비스 이용계약을 취소하는 것을 말합니다.</p><br>
   
                <p>제 2 장 서비스 이용계약</p><br>

                <p>제 4 조 (이용계약의 성립)</p>
                <p>① 이용약관 하단의 동의 버튼을 누르면 이 약관에 동의하는 것으로 간주됩니다.</p>
                <p>② 이용계약은 서비스 이용희망자의 이용약관 동의 후 이용 신청에 대하여 사이트가 승낙함으로써 성립합니다.</p><br>
                
                <p>제 5 조 (이용신청)</p>
                <p>① 신청자가 본 서비스를 이용하기 위해서는 사이트 소정의 가입신청 양식에서 요구하는 이용자 정보를 기록하여 제출해야 합니다.</p>
                <p>② 가입신청 양식에 기재하는 모든 이용자 정보는 모두 실제 데이터인 것으로 간주됩니다. 실명이나 실제 정보를 입력하지 않은 사용자는 법적인 보호를 받을 수 없으며, 서비스의 제한을 받을 수 있습니다.</p><br>

                <p>제 6 조 (이용신청의 승낙)</p>
                <p>① 사이트는 신청자에 대하여 제2항, 제3항의 경우를 예외로 하여 서비스 이용신청을 승낙합니다.</p>
                <p>② 사이트는 다음에 해당하는 경우에 그 신청에 대한 승낙 제한사유가 해소될 때까지 승낙을 유보할 수 있습니다.</p>
                <p>가. 서비스 관련 설비에 여유가 없는 경우</p>
                <p>나. 기술상 지장이 있는 경우</p>
                <p>다. 기타 사이트가 필요하다고 인정되는 경우</p>
                <p>③ 사이트는 신청자가 다음에 해당하는 경우에는 승낙을 거부할 수 있습니다.</p>
                <p>가. 다른 개인(사이트)의 명의를 사용하여 신청한 경우</p>
                <p>나. 이용자 정보를 허위로 기재하여 신청한 경우</p>
                <p>다. 사회의 안녕질서 또는 미풍양속을 저해할 목적으로 신청한 경우</p>
                <p>라. 기타 사이트 소정의 이용신청요건을 충족하지 못하는 경우</p><br>
            </div>
        </div>
        
        <div class="modal_footer">
            <div class="btn_area">
                <button type="button" onclick="closeModal(this);" class="btn_primary lg">확인</button>
            </div>
        </div>

        <button type="button" onclick="closeModal(this);" class="btn_close"><span class="blind">닫기</span></button>

    </div>
</div>
<!-- 약관 모달2 -->
<div id="terms2" class="modal lg" style="display:none;">
    <div class="modal_wrap">
        
        <div class="modal_header">
            <div class="modal_title">민감정보 수집 및 이용 동의</div>
        </div>

        <div class="modal_container">
            <div class="modal_content">
                <p>제 1 장 총 칙</p><br>
                
                <p>제 1 조 (목적)</p>
                <p>이 약관은 {COMPANY_NAME}(이하 "사이트"라 합니다)에서 제공하는 인터넷서비스(이하 "서비스"라 합니다)의 이용 조건 및 절차에 관한 기본적인 사항을 규정함을 목적으로 합니다.</p><br>
                                 
                <p>제 2 조 (약관의 효력 및 변경)</p>
                <p>① 이 약관은 서비스 화면이나 기타의 방법으로 이용고객에게 공지함으로써 효력을 발생합니다.</p>
                <p>② 사이트는 이 약관의 내용을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는 통지함으로써 효력을 발생합니다.</p><br>
                
                <p>제 3 조 (용어의 정의)</p>
                <p>이 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
                <p>① 회원 : 사이트와 서비스 이용계약을 체결하거나 이용자 아이디(ID)를 부여받은 개인 또는 단체를 말합니다.</p>
                <p>② 신청자 : 회원가입을 신청하는 개인 또는 단체를 말합니다.</p>
                <p>③ 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 정하고 사이트가 승인하는 문자와 숫자의 조합을 말합니다.</p>
                <p>④ 비밀번호 : 회원이 부여 받은 아이디(ID)와 일치된 회원임을 확인하고, 회원 자신의 비밀을 보호하기 위하여 회원이 정한 문자와 숫자의 조합을 말합니다.</p>
                <p>⑤ 해지 : 사이트 또는 회원이 서비스 이용계약을 취소하는 것을 말합니다.</p><br>
   
                <p>제 2 장 서비스 이용계약</p><br>

                <p>제 4 조 (이용계약의 성립)</p>
                <p>① 이용약관 하단의 동의 버튼을 누르면 이 약관에 동의하는 것으로 간주됩니다.</p>
                <p>② 이용계약은 서비스 이용희망자의 이용약관 동의 후 이용 신청에 대하여 사이트가 승낙함으로써 성립합니다.</p><br>
                
                <p>제 5 조 (이용신청)</p>
                <p>① 신청자가 본 서비스를 이용하기 위해서는 사이트 소정의 가입신청 양식에서 요구하는 이용자 정보를 기록하여 제출해야 합니다.</p>
                <p>② 가입신청 양식에 기재하는 모든 이용자 정보는 모두 실제 데이터인 것으로 간주됩니다. 실명이나 실제 정보를 입력하지 않은 사용자는 법적인 보호를 받을 수 없으며, 서비스의 제한을 받을 수 있습니다.</p><br>

                <p>제 6 조 (이용신청의 승낙)</p>
                <p>① 사이트는 신청자에 대하여 제2항, 제3항의 경우를 예외로 하여 서비스 이용신청을 승낙합니다.</p>
                <p>② 사이트는 다음에 해당하는 경우에 그 신청에 대한 승낙 제한사유가 해소될 때까지 승낙을 유보할 수 있습니다.</p>
                <p>가. 서비스 관련 설비에 여유가 없는 경우</p>
                <p>나. 기술상 지장이 있는 경우</p>
                <p>다. 기타 사이트가 필요하다고 인정되는 경우</p>
                <p>③ 사이트는 신청자가 다음에 해당하는 경우에는 승낙을 거부할 수 있습니다.</p>
                <p>가. 다른 개인(사이트)의 명의를 사용하여 신청한 경우</p>
                <p>나. 이용자 정보를 허위로 기재하여 신청한 경우</p>
                <p>다. 사회의 안녕질서 또는 미풍양속을 저해할 목적으로 신청한 경우</p>
                <p>라. 기타 사이트 소정의 이용신청요건을 충족하지 못하는 경우</p><br>
            </div>
        </div>
        
        <div class="modal_footer">
            <div class="btn_area">
                <button type="button" onclick="closeModal(this);" class="btn_primary lg">확인</button>
            </div>
        </div>

        <button type="button" onclick="closeModal(this);" class="btn_close"><span class="blind">닫기</span></button>

    </div>
</div>
<!-- 약관 모달3 -->
<div id="terms3" class="modal lg" style="display:none;">
    <div class="modal_wrap">
        
        <div class="modal_header">
            <div class="modal_title">고유식별정보 수집 동의</div>
        </div>

        <div class="modal_container">
            <div class="modal_content">
                <p>제 1 장 총 칙</p><br>
                
                <p>제 1 조 (목적)</p>
                <p>이 약관은 {COMPANY_NAME}(이하 "사이트"라 합니다)에서 제공하는 인터넷서비스(이하 "서비스"라 합니다)의 이용 조건 및 절차에 관한 기본적인 사항을 규정함을 목적으로 합니다.</p><br>
                                 
                <p>제 2 조 (약관의 효력 및 변경)</p>
                <p>① 이 약관은 서비스 화면이나 기타의 방법으로 이용고객에게 공지함으로써 효력을 발생합니다.</p>
                <p>② 사이트는 이 약관의 내용을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는 통지함으로써 효력을 발생합니다.</p><br>
                
                <p>제 3 조 (용어의 정의)</p>
                <p>이 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
                <p>① 회원 : 사이트와 서비스 이용계약을 체결하거나 이용자 아이디(ID)를 부여받은 개인 또는 단체를 말합니다.</p>
                <p>② 신청자 : 회원가입을 신청하는 개인 또는 단체를 말합니다.</p>
                <p>③ 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 정하고 사이트가 승인하는 문자와 숫자의 조합을 말합니다.</p>
                <p>④ 비밀번호 : 회원이 부여 받은 아이디(ID)와 일치된 회원임을 확인하고, 회원 자신의 비밀을 보호하기 위하여 회원이 정한 문자와 숫자의 조합을 말합니다.</p>
                <p>⑤ 해지 : 사이트 또는 회원이 서비스 이용계약을 취소하는 것을 말합니다.</p><br>
   
                <p>제 2 장 서비스 이용계약</p><br>

                <p>제 4 조 (이용계약의 성립)</p>
                <p>① 이용약관 하단의 동의 버튼을 누르면 이 약관에 동의하는 것으로 간주됩니다.</p>
                <p>② 이용계약은 서비스 이용희망자의 이용약관 동의 후 이용 신청에 대하여 사이트가 승낙함으로써 성립합니다.</p><br>
                
                <p>제 5 조 (이용신청)</p>
                <p>① 신청자가 본 서비스를 이용하기 위해서는 사이트 소정의 가입신청 양식에서 요구하는 이용자 정보를 기록하여 제출해야 합니다.</p>
                <p>② 가입신청 양식에 기재하는 모든 이용자 정보는 모두 실제 데이터인 것으로 간주됩니다. 실명이나 실제 정보를 입력하지 않은 사용자는 법적인 보호를 받을 수 없으며, 서비스의 제한을 받을 수 있습니다.</p><br>

                <p>제 6 조 (이용신청의 승낙)</p>
                <p>① 사이트는 신청자에 대하여 제2항, 제3항의 경우를 예외로 하여 서비스 이용신청을 승낙합니다.</p>
                <p>② 사이트는 다음에 해당하는 경우에 그 신청에 대한 승낙 제한사유가 해소될 때까지 승낙을 유보할 수 있습니다.</p>
                <p>가. 서비스 관련 설비에 여유가 없는 경우</p>
                <p>나. 기술상 지장이 있는 경우</p>
                <p>다. 기타 사이트가 필요하다고 인정되는 경우</p>
                <p>③ 사이트는 신청자가 다음에 해당하는 경우에는 승낙을 거부할 수 있습니다.</p>
                <p>가. 다른 개인(사이트)의 명의를 사용하여 신청한 경우</p>
                <p>나. 이용자 정보를 허위로 기재하여 신청한 경우</p>
                <p>다. 사회의 안녕질서 또는 미풍양속을 저해할 목적으로 신청한 경우</p>
                <p>라. 기타 사이트 소정의 이용신청요건을 충족하지 못하는 경우</p><br>
            </div>
        </div>
        
        <div class="modal_footer">
            <div class="btn_area">
                <button type="button" onclick="closeModal(this);" class="btn_primary lg">확인</button>
            </div>
        </div>

        <button type="button" onclick="closeModal(this);" class="btn_close"><span class="blind">닫기</span></button>

    </div>
</div>
	
<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->
<script th:inline="javascript">
    const hospital = [[${h}]];

    console.log(hospital);

    //자녀 번호 가져오기
    const memberNo = [[${session.member.memberNo}]];
    $.ajax({
        url: "/service/selectMyChildInfo", 
        type: "POST",
        dataType: "JSON",
        data: {memberNo: memberNo},
        success: function(data){
            $(data).each(function(index, item){
                const option = $("<option>");
                option.val(Number(item.childNo));
                option.text(item.childName);
                $("#nameSelect").append(option);
            })
        },
        error: function(){
            console.log("에러");
        }
    })

    //약관 동의
    const reqs = $(".checkbox_wrap").find("[name='check_agree_req']");
    const checkAll = $(".checkbox_wrap").find("[name='check_agree_all']");
    checkAll.on("click", function(){
        let is_checked = $(this).is(":checked");
        $(this).closest(".checkbox_wrap").find("[name='check_agree_req']").prop("checked",is_checked);
    })
    reqs.each(function(index, item){
        $(item).on("click", function(){
            const checked = $(".checkbox_wrap").find("[name='check_agree_req']:checked");
            if(reqs.length == checked.length){
                checkAll.prop("checked", true);
            }else{
                checkAll.prop("checked", false);
            }
        })
    })

    
    //폼 전송시 약관 체크
    function checkForm(){
        const checked = $(".checkbox_wrap").find("[name='check_agree_req']:checked");

        if(reqs.length != checked.length){
            alert("필수 약관에 동의해주세요.");
            return false;
        }else{
            if(confirm("비대면 진료를 예약하시겠습니까?")){
                return true;
            }else{
                return false;
            }
        }
    }

    function loadImg(obj){
        console.log(obj);
    }
</script>
</body>
</html>