<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/admin/adminMain.css">

<th:block th:include="common/header"></th:block>

	<!-- container -->
    <main id="container" class="container">

		<!-- contents -->
        <section id="contents" class="contents adminMain">
            <div class="inner_wrap">
                <h2>관리자 메인</h2>
            </div>
        </section>
	    <!--// contents -->
        <div class="inner_wrap">
        	<table class="btl">
        		<tr class="tr-header">
        			<th style="width:15%;">번호</th>
        			<th style="width:30%;">제목</th>
        			<th style="width:15%;">작성자</th>
        			<th style="width:15%;">조회수</th>
        			<th style="width:10%;">등록일</th>
        		</tr>
        	</table>
        </div>
    </main>
    <!--// container -->
	
<th:block th:include="common/footer"></th:block>
</body>
</html>