<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:include="common/header"></th:block>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/admin/faqList.css">

<script src="/js/lib/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<style>
.swal2-wrap{
	width:400px;
}

.swal{
	margin:10px auto;
	padding:0;
}

</style>
<!-- container -->
<main id="container" class="container">

	<!-- contents -->
	<section id="contents" class="contents adminMain">
		<div class="inner_wrap">
			<h2>자주묻는질문</h2>
			<button id="writeFaq" onclick="showModal()">FAQ 작성</button>
			<th:block th:each="category : ${categoryList}">
				<div class="accordion-item">
					<div class="accordion-header">
						<p th:text="${category.faqTitle}"></p><span class="toggle-btn material-icons">expand_more</span>
					</div>
					<th:block th:if="${category.category== content.faqRef}"
						th:each="content : ${contentList}">
						<div class="accordion-sub">
							<div class="accordion-item">
								<div class="accordion-header">
									<p th:text="${content.faqTitle}"></p><span class="toggle-btn material-icons">expand_more</span>
								</div>
								<div class="accordion-content">
									<p th:text="${content.faqContent}"></p>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</th:block>
		</div>
	</section>
	<!--// contents -->



</main>
<!--// container -->

<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->
<script src='/js/common/faqList.js'></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Function to show SweetAlert2 modal
    function showModal() {
        Swal.fire({
            title: 'FAQ 작성',
            html:
            	'<div class="swal2-wrap">' +
            	'<span>범주 : </span><select  class="swal2-select swal" name="category">' +
            	'<option class="swal" value="1">회원가입 및 이용정지</option>' +
            	'<option class="swal" value="2">병원찾기</option>' +
            	'<option class="swal" value="3">커뮤니티</option>' +
            	'<option class="swal" value="4">기타등등</option>' +
            	'</select>' +
                '<input id="faqTitle" class="swal2-input swal" style="width:80%;" placeholder="FAQ 제목">' +
                '<textarea id="faqContent" class="swal2-textarea swal" style="width:80%; resize:none; height:200px;" placeholder="FAQ 내용"></textarea></div>',
                showCancelButton: true,
	            confirmButtonText: 'Submit',
	            cancelButtonText: 'Cancel',
	            focusConfirm: false,
	            preConfirm: () => {
	           	const category = swal.getPopup().querySelector('[name=category]').value;
                const faqTitle = Swal.getPopup().querySelector('#faqTitle').value;
                const faqContent = Swal.getPopup().querySelector('#faqContent').value;
                if (!category || !faqTitle || !faqContent) {
                    Swal.showValidationMessage('양식을 모두 채우세요');
                }

                return { category, faqTitle, faqContent };
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const { category, faqTitle, faqContent } = result.value;
                // Output the entered values to the console
                console.log('category:', category);
                console.log('FAQ Title:', faqTitle);
                console.log('FAQ Content:', faqContent);
                
                wirteFaq(category, faqTitle,faqContent);
            }
        });
    }
    
    function wirteFaq(category, faqTitle,faqContent){
    	
    	$.ajax({
			url : "/admin/writeFaq",
			type : "get",
			data : {category : category, title : faqTitle, content : faqContent},
			dataType : "JSON",
			success : function(data){
				
				console.log(data, typeof data);
			},
			error : function(){
				console.log("에러발생");
			}
		});
    }
</script>



</body>
</html>