<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:include="common/header"></th:block>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/admin/faqList.css">

<script src="/js/lib/jquery-ui.min.js"></script>


<!-- container -->
<main id="container" class="container">

	<!-- contents -->
	<section id="contents" class="contents adminMain">
		<div class="inner_wrap">
			<h2>자주묻는질문</h2>
			<th:block th:each="category : ${categoryList}">
				<div class="accordion-item">
					<div class="accordion-header">
						<p th:text="${category.faqTitle}"></p><span class="toggle-btn material-icons">expand_more</span>
					</div>
					<th:block th:if="${category.category== content.faqRef}"
						th:each="content : ${contentList}">
						<div class="accordion-sub">
							<div class="accordion-item">
								<div class="accordion-header">
									<p th:text="${content.faqTitle}"></p><span class="toggle-btn material-icons">expand_more</span>
								</div>
								<div class="accordion-content">
									<p th:text="${content.faqContent}"></p>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</th:block>
		</div>
	</section>
	<!--// contents -->



</main>
<!--// container -->

<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->
<script src='/js/common/faqList.js'></script>


</body>
</html>