<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <link rel="stylesheet" href=""> 이 자리에 자기 css 넣기-->

<th:block th:include="common/header"></th:block>

	<!-- container -->
    <main id="container" class="container">

		<!-- contents -->
        <section id="contents" class="contents adminMain">
            <div class="inner_wrap">
                <h2>자주묻는질문</h2>
            </div>
        </section>
	    <!--// contents -->
	    
        
    </main>
    <!--// container -->
	
<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->
</body>
</html>