<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/admin/adminMain.css">

<th:block th:include="common/header"></th:block>

	<!-- container -->
    <main id="container" class="container">

		<!-- contents -->
        <section id="contents" class="contents adminMain">
            <div class="inner_wrap">
                <h2>공지사항</h2>
            </div>
        </section>
	    <!--// contents -->
        <div class="inner_wrap">
        	<form action="/admin/searchNotice" method="get" id="searchFrm">
				<th:block th:switch="${searchType}">
					<select th:case="title" name="searchType">
						<option value="title" selected>제목</option>
						<option value="content">내용</option>
						<option value="writer">작성자</option>
					</select>
					<select th:case="content" name="searchType">
						<option value="title">제목</option>
						<option value="content" selected>내용</option>
						<option value="writer">작성자</option>
					</select>
					<select th:case="writer" name="searchType">
						<option value="title" selected>제목</option>
						<option value="content">내용</option>
						<option value="writer" selected>작성자</option>
					</select>
				</th:block>
				<div class="search">
					<input type="text" class="input-form" name="keyword" placeholder="검색어 입력" th:value="${keyword}">
				</div>
				<button type="submit" class="btn bc1" onclick="return checkKeyword();">검색</button>
			</form>
        	<table class="btl">
        		<tr class="tr-header">
        			<th style="width:15%;">번호</th>
        			<th style="width:50%;">제목</th>
        			<th style="width:15%;">조회수</th>
        			<th style="width:20%;">등록일</th>
        		</tr>
        		<tr class="tr-content" th:each="notice : ${noticeList}">
					<td id="no" th:text="${notice.noticeNo}"></td>
					<td id="title" th:text="${notice.noticeTitle}"></td>
					<td id="readCount" th:text="${notice.readCount}"></td>
					<td id="reqDate" th:text="${notice.reqDate}"></td>
				</tr>
        	</table>
        	
        	<div id="pageNavi" class="pagination" th:utext="${pageNavi}"></div>
        </div>
    </main>
    <!--// container -->
	
<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->
</body>