<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>
<script src="/summernote/summernote-lite.js"></script>
<script src="/summernote/lang/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/summernote/summernote-lite.css">
<link rel="stylesheet" href="/css/community/community.css">

	<!-- container -->
    <main id="container" class="container">

		<!-- contents -->
        <section id="contents" class="contents community">
            <div class="inner_wrap">
                <h2>병원어때 매거진</h2>
                
                <div class="community_board_area view">
                    <div class="communityView">
                        <div class="view_content_area">
                            <div class="tit_wrap">
                                <h3 class="board_title" th:text="${c.boardTitle}"></h3>
                                <div class="title_info">
                                    <span class="write_date" th:text="${c.writeDate}"></span>
                                    <div class="read_count">조회수 <span class="read_count" th:text="${c.readCount}"></span></div>
                                    <span th:text="${c.memberNo}"></span>
                                </div>
                            </div>
                            <div class="thumb_wrap">
                                <th:block th:each="file : ${c.fileList}">
                                    <img th:src="@{/community/}+${file.filepath}">
                                    <!-- <a th:href="@{/community/filedown(filename=${file.filename},filepath=${file.filepath})}" th:text="${file.filename}"></a> -->
                                </th:block>
                            </div>

                            <div class="content_wrap" th:utext="${c.boardContentBr}"></div>

                        </div>
                        <!-- <span th:text="${c}"></span> -->
                        <div class="btn_area" th:if="${session.member != null && session.member.memberNo == c.memberNo}">
                            <a th:href="@{/community/updateFrm(boardNo=${c.boardNo})}" class="btn_primary">수정</a>
                            <button type="button" class="btn_secondary" th:onclick="boardDelete([[${c.boardNo}]])">삭제</button>
                        </div>
                    </div>
    
                    <div class="btn_area">
                        <a href="/community/communityMain?reqPage=1" class="btn_primary outline">목록</a>
                    </div>
                </div>

            </div>
        </section>
        <!--// contents -->
        
    </main>
    <!--// container -->
	
<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->
<script>
    function boardDelete(boardNo){
		if(confirm("게시글을 삭제하시겠습니까?")){
			location.href="/community/delete?boardNo="+boardNo;
		}
	}
</script>
</body>
</html>