@charset "UTF-8";

.hospitalDetail .detail_area{max-width:1080px; margin:0 auto;}
.hospitalDetail .detail_area .detail_top_wrap{display:flex; gap:60px;}
.hospitalDetail .detail_top_wrap .picture_wrap{width:540px; background-color:var(--gray_07);}
.hospitalDetail .detail_top_wrap .picture_wrap.img_wrap{width:100%; height:100%;}
.hospitalDetail .detail_top_wrap .picture_wrap.img_wrap>img{width:100%; height:100%; object-fit:cover; object-position:center;}
.hospitalDetail .detail_top_wrap .banner_wrap{width:540px;}
.hospitalDetail .hospitalDetail_banner{position:relative; width:100%; height:323px; border-radius:8px; overflow:hidden;}
.hospitalDetail .hospitalDetail_banner img{width:100%; height:100%; object-fit:cover; objcec-position:center;}
.hospitalDetail .hospitalDetail_banner [class^=swiper-button-]{position:absolute; top:calc(50% - 18px); width:36px; height:36px; margin:0; border-radius:50%; background:rgba(0,0,0,0.4) url(/images/icon_arrow_white.svg) no-repeat center / 12px;}
.hospitalDetail .hospitalDetail_banner [class^=swiper-button-]::before,
.hospitalDetail .hospitalDetail_banner [class^=swiper-button-]::after{display:none;}
.hospitalDetail .hospitalDetail_banner .swiper-button-prev{left:12px;}
.hospitalDetail .hospitalDetail_banner .swiper-button-next{right:12px; transform:rotate(180deg);}
.hospitalDetail .hospitalDetail_banner .swiper-pagination-bullet-active{background:#fff;}
.hospitalDetail .detail_top_wrap .info_wrap{width:calc(100% - 570px);}
.hospitalDetail .detail_top_wrap .info_wrap .top_info_list{padding:8px 0;}
.hospitalDetail .detail_top_wrap .info_wrap .top_info_list>li{display:flex; gap:12px; padding:12px 0;}
/* .hospitalDetail .detail_top_wrap .info_wrap .top_info_list>li:last-child{flex-grow:1;} */
/* .hospitalDetail .detail_top_wrap .info_wrap .top_info_list>li:last-child>.info_content{align-items:flex-end;} */
.hospitalDetail .top_info_list .info_title{min-width:160px; font-size:16px; font-weight:bold; line-height:1.5;}
.hospitalDetail .top_info_list .info_content{display:flex; flex-wrap:wrap; gap:12px; justify-content:flex-end; flex:1;}
.hospitalDetail .top_info_list .info_content>.subject_name+.subject_name{position:relative; margin-left:12px;}
.hospitalDetail .top_info_list .info_content>.subject_name+.subject_name::after{content:''; display:block; position:absolute; left:-12px; top:6px; width:1px; height:16px; background-color:var(--line_02);}
.hospitalDetail .top_info_list .info_content .open_status{position:relative; margin-left:12px; padding-left:16px; color:var(--main_05); font-size:16px; font-weight:bold; line-height:1.5}
.hospitalDetail .top_info_list .info_content .open_status::before{content:''; display:block; position:absolute; top:9px; left:0; width:8px; height:8px; border-radius:50%;}
.hospitalDetail .top_info_list .info_content .open_status.open{color:var(--main_05);}
.hospitalDetail .top_info_list .info_content .open_status.open::before{background-color:var(--main_05);}
.hospitalDetail .top_info_list .info_content .open_status.closed{color:var(--gray_04);}
.hospitalDetail .top_info_list .info_content .open_status.closed::before{background-color:var(--gray_05);}
.hospitalDetail .top_info_list .keyword{display:block; height:30px; padding:0 19px; border-radius:30px; background-color:var(--bg_01); color:var(--main_01); font-size:14px; font-weight:bold; line-height:30px; text-align:center;}
.hospitalDetail .detail_top_wrap .btn_area{margin-top:20px;}
.hospitalDetail .detail_top_wrap .btn_area>[class^=btn_]{flex:1;}

.hospitalDetail .detail_tab_wrap{margin-top:48px;}
.hospitalDetail .detail_tab_wrap h4{font-size:18px;}
.hospitalDetail .detail_tab_wrap .tab_menu_wrap{display:flex;}
.hospitalDetail .detail_tab_wrap .tab_menu_wrap{position:sticky; top:72px; background-color:#fff; padding:12px 0; z-index:100;}
.hospitalDetail .detail_tab_wrap .tab_menu_wrap .tab_menu_btn{flex:1; font-size:16px; font-weight:bold; line-height:50px; border-bottom:1px solid var(--main_01); background-color:#fff; color:var(--main_01);}
.hospitalDetail .detail_tab_wrap .tab_menu_wrap .tab_menu_btn.active{border:1px solid var(--main_01); border-radius:8px 8px 0 0; background-color:var(--main_01); color:#fff;}
.hospitalDetail .detail_tab_wrap .tab_content_wrap .tab_content{padding:48px 0;}
.hospitalDetail .detail_tab_wrap .tab_content_wrap .tab_content:first-child{padding-top:36px;}
.hospitalDetail .detail_tab_wrap .tab_content_wrap .tab_content+.tab_content{border-top:1px solid var(--gray_01);}
.hospitalDetail .detail_tab_wrap .tab_content_wrap .tab_content .item_section{color:var(--gray_04);}
.hospitalDetail .detail_tab_wrap .tab_content_wrap .tab_content .item_section+.item_section{margin-top:48px;}
.hospitalDetail .time_list{display:flex; flex-wrap:wrap; gap:24px; padding-top:24px;}
.hospitalDetail .time_list>li{width:calc(20% - 24px); padding:8px 0; color:var(--gray_01); font-size:14px; line-height:1.5;}
.hospitalDetail .time_list>li>*{display:block; text-align:center;}
.hospitalDetail .time_list .lunch_hour{color:var(--gray_04); font-size:12px; line-height:1.5;}
.hospitalDetail .time_list .holiday{color:var(--main_02);}
.hospitalDetail .time_list .holiday .time_info{margin-top:10px;}
.hospitalDetail .time_list .today{position:relative; border-radius:8px; background-color:var(--bg_01);}
.hospitalDetail .time_list .today::before{content:'오늘'; display:block; position:absolute; top:-24px; left:0; right:0; color:var(--main_05); font-size:12px; font-weight:bold; text-align:center;}
.hospitalDetail .doctor_list>li{padding:20px 0;}
.hospitalDetail .doctor_list>li+li{border-top: 1px solid var(--line_02);}
.hospitalDetail .doctor_list .title_wrap .doctor_name{color:var(--gray_01);}
.hospitalDetail .doctor_list .title_wrap .subject_name{margin-left:12px;}
.hospitalDetail .doctor_list .info_wrap{padding:20px 0;}
.hospitalDetail .doctor_list .doctor_img_wrap{width:200px; height:257px; background-color:var(--gray_07);}
.hospitalDetail .doctor_list .doctor_img_wrap>img{display:block; width:100%; height:100%; object-fit:cover; object-position:center;}
.hospitalDetail .doctor_list .doctor_info_wrap{margin-top:12px;}
.hospitalDetail .doctor_list .info_wrap>p+p{margin-top:12px;}

.hospitalDetail .review_wrap {margin-top:-5.5px;}
.hospitalDetail .review_wrap .review_top_wrap{display:flex; justify-content:space-between; margin-bottom:18.5px;}
.hospitalDetail .review_wrap .review_top_wrap .top_title_wrap{display:flex; align-items:center;}
.hospitalDetail .review_wrap .top_title_wrap h3{margin:0; line-height:41px;}
.hospitalDetail .review_wrap .top_title_wrap .review_count{margin-left:4px; color:var(--main_01); font-size:20px; font-weight:bold; line-height:41px;}
.hospitalDetail .review_wrap .top_title_wrap .rating_wrap{display:flex; align-items:center; gap:8px;}
.hospitalDetail .review_wrap .top_title_wrap .star_wrap{width:120px; height:24px; margin-left:16px; background:url(/images/icon_star.svg) repeat-x left top;}
.hospitalDetail .review_wrap .top_title_wrap .star_wrap .star{display:block; width:80%; height:100%; background:url(/images/icon_star_on.svg) repeat-x left top;}
.hospitalDetail .review_wrap .top_title_wrap .avg{display:block; font-size:16px; font-weight:bold; line-height:1.5;}
.hospitalDetail .review_wrap .btn_write{padding-left:36px; background:url(/images/icon_write.svg) no-repeat center left 12px / 20px;}
.hospitalDetail .review_wrap .review_main_wrap{padding:16px 0;}
.hospitalDetail .review_wrap .review_main_wrap .sorting_wrap{width:160px; margin-bottom:16px;}
.hospitalDetail .review_wrap .review_main_wrap .review_list{border-top:1px solid var(--line_02); border-bottom:1px solid var(--line_02);}
.hospitalDetail .review_wrap .review_main_wrap .review_list>li{padding:16px 0;}
.hospitalDetail .review_wrap .review_main_wrap .review_list>li+li{border-top:1px solid var(--line_02);}
.hospitalDetail .review_main_wrap .review_list .rating_wrap{display:flex; gap:8px;}
.hospitalDetail .review_main_wrap .review_list .rating_wrap .rating{display:block; font-size:14px; font-weight:bold; line-height:20px;}
.hospitalDetail .review_main_wrap .review_list .rating_wrap .star_wrap{width:100px; height:20px; background:url(/images/icon_star.svg) repeat-x left top;}
.hospitalDetail .review_main_wrap .review_list .rating_wrap .star_wrap .star{display:block; width:0; height:100%; background:url(/images/icon_star_on.svg) repeat-x left top;}
.hospitalDetail .review_list .detail_cont_wrap{height:110px; margin:12px 0; font-size:15px; line-height:1.5; overflow-y:auto;}
.hospitalDetail .review_list .detail_btm_wrap{display:flex; align-items:center; gap:20px;}
.hospitalDetail .review_list .detail_btm_wrap>span{color:var(--gray_04); font-size:14px; line-height:1.5;}
.hospitalDetail .review_list .detail_btm_wrap>span+span{position:relative;}
.hospitalDetail .review_list .detail_btm_wrap>span+span::before{content:''; display:block; position:absolute; left:-10px; top:5px; width:1px; height:10px; background-color:var(--line_02);}
.hospitalDetail .review_list .detail_btm_wrap>.btm_btn_wrap{margin-left:auto;}
.hospitalDetail .review_list .detail_btm_wrap>.btm_btn_wrap .report_btn{color:var(--gray_04); font-size:13px; line-height:21px;}