@charset "UTF-8";

#contents.searchHospital{padding-bottom:0;}
.searchHospital .search_area{display:flex; overflow:hidden; border-top:1px solid rgba(67,137,186,0.4);}
.searchHospital .search_area .list_area{flex:1; max-width:456px; padding:20px; box-shadow:5px 0 10px rgba(0,0,0,0.1); z-index:1;}
.searchHospital .search_area .api_area{flex:1;}
.searchHospital .search_wrap{border-bottom:1px solid var(--line_01);}
.searchHospital .search_wrap .btn_search{width:40px; height:40px; background:url(/images/icon_search.svg) no-repeat center / 20px 20px;}
.searchHospital .search_wrap .input_item input{border:none;}
.searchHospital .list_wrap{padding:24px 0;}
.searchHospital .list_wrap .total_count{padding-bottom:12px; border-bottom:1px solid var(--line_02); font-size:14px; line-height:1.5;}
.searchHospital .list_wrap .hospital_list_wrap{height:650px; padding-bottom:24px; overflow-y:auto;}
.searchHospital .list_wrap .hospital_list>li{border-bottom:1px solid var(--line_02);}
.searchHospital .list_wrap .hospital_list>li>a{display:block; padding:24px 0;}
.searchHospital .row_wrap{display:flex; flex-wrap:wrap; align-items:center; gap:8px; color:var(--gray_04); font-size:12px; line-height:1.5;}
.searchHospital .row_wrap+.row_wrap{margin-top:8px;}
.searchHospital .row_wrap span+.row{margin-top:-4px;}
.searchHospital .row_wrap .row{flex-basis:100%; display:flex; flex-wrap:wrap; gap:8px;}
.searchHospital .row_wrap .row>span:first-child{position:relative; margin-right:8px;}
.searchHospital .row_wrap .row>span:first-child::after{content:''; display:block; position:absolute; right:-8px; top:5px; width:1px; height:10px; background-color:var(--gray_05);}
.searchHospital .title_info{color:var(--gray_01); font-size:16px; line-height:1.5;}
.searchHospital .time_info{font-weight:bold;}
.searchHospital .status_info.open{color:var(--main_05);}
.searchHospital .status_info.closed{color:var(--gray_05);}
.searchHospital .row_wrap .subject+.subject{position:relative; margin-left:4px;}
.searchHospital .row_wrap .subject+.subject::before{content:'/'; display:block; position:absolute; left:-8px; top:0; bottom:0; width:8px; height:10px; font-size:12px;}
.searchHospital .row_wrap span.keyword{display:inline-block; padding:0 8px; border:1px solid var(--main_01); border-radius:20px; color:var(--main_01); font-size:12px; font-weight:bold; line-height:20px;}
.searchHospital .info_window{width:340px; padding:20px; z-index:1;}
.searchHospital .info_window .row_wrap>[class^=btn_]{margin-left:auto;}