<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="popup_01" class="modal" style="display:none;">
	<div class="modal_wrap">
		
		<div class="modal_header">
			<div class="modal_title">모달 타이틀</div>
		</div>

		<div class="modal_container">
			<div class="modal_content">
				<p class="center">텍스트는 이렇게</p><!-- 텍스트 중앙 정렬 필요할 경우 .center -->
				<p>텍스트는 이렇게 씁니다.</p>
				<p>텍스트는 이렇게 씁니다.</p>
				<p>텍스트는 이렇게 씁니다.</p>
				<p>텍스트는 이렇게 씁니다.</p>
				<p>텍스트는 이렇게 씁니다.</p>
				<p>텍스트는 이렇게 씁니다.</p>
				<p>텍스트는 이렇게 씁니다.</p>
				<p>텍스트는 이렇게 씁니다.</p>
				<p>텍스트는 이렇게 씁니다.</p>
			</div>
		</div>
		
		<div class="modal_footer">
			<div class="btn_area">
				<button type="button" onclick="closeModal(this);" class="btn_secondary lg">취소</button>
				<a href="#" class="btn_primary lg">확인</a>
			</div>
		</div>

		<button type="button" onclick="closeModal(this);" class="btn_close"><span class="blind">닫기</span></button>

	</div>
</div>
	
</body>
</html>