<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="popup_01" class="modal" >
	<div class="modal_wrap">
		
		<div class="modal_header">
			<div class="modal_title">개인정보취급방침</div>
		</div>

		<div class="modal_container">
			<div class="modal_content">
				
				
				<h3>병원어떄에 오신 것을 환영합니다!</h3>
				<p>
				
				병원어때 기업(이하 ‘병원어때’)은 여러의 개인 정보를 매우 중요하게 생각하고 있습니다. 
				여러분의 개인정보는 서비스의 원활한 제공을 위하여 여러분이 동의한 목적과 범위 내에서만 이용됩니다. 
				법령에 의하거나 여러분이 별도로 동의하지 아니하는 한 병원어때가 여러분의 개인정보를 제3자에게 제공하는 일은 결코 없으므로 안심하셔도 됩니다. 
				병원어때는 여러분의 개인정보를 안전하게 처리하기 위해 기울이는 노력이나 더 자세한 사항을 여러분이 더욱 쉽게 이해할 수 있도록 모든 서비스에 적용될 수 있는 하나의 개인정보 취급방침을 마련하였습니다. 
				개인정보 취급방침은 항상 공개되어 있으니 지금 당장이 아니더라도 궁금하실 때는 언제든지 읽어보실 수 있습니다. 개인정보 취급방침이 바뀐 때에는 여러분이 그 내용과 이유를 쉽게 알 수 있도록 여러분이 가입시에 사용한 이메일을 통해 방침이 적용되기 1개월 전에 알려드리겠습니다.
				
				
				
				
				
				
				</p>
			</div>
		</div>
		
		<div class="modal_footer">
			<div class="btn_area">
				<button type="button" onclick="closeModal(this);" class="btn_secondary lg">취소</button>
				<a href="#" class="btn_primary lg">확인</a>
			</div>
		</div>

		<button type="button" onclick="closeModal(this);" class="btn_close"><span class="blind">닫기</span></button>

	</div>
</div>
	
</body>
</html>