<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/member/myPageMenu.css">

<th:block th:include="common/header"></th:block>

<main id="container" class="container">
<div id="contents" class="contents signUpFrm">
	<div id="contents" class="contents memberDelete">
			<div class="inner_wrap">
					
	<h2>비밀번호를 입력해주세요.</h2>
	<form action="/member/delete">
	<input type="text" placeholder="비밀번호를 입력해주세요.">
	<div>
	<button type="submit" class="btn_primary lg">확인</button>
	</div>
	</form>	
	
	
	
	
	
		</div>
	</div>
</div>
	
	</th:block>


		
		
		
		
		
		
		
		
		
		


</main>

<th:block th:include="common/footer"></th:block>
</body>
</html>