<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/member/myPageMenu.css">


<main id="container" class="container">
<div id="contents" class="contents signUpFrm">
	<div id="contents" class="contents memberDelete">
			<form action="/member/confirmPassword">
			<div class="input_wrap">
						<div class="input_title"><label for="input_default">비밀번호</label></div>
						<div class="input_item">
							<input type="text" name="memberPassword" id="memberPassword" placeholder="비밀번호를 입력해주세요.">
							<button type="submit" id="delete" class="btn_primary">버튼 primary</button>
						</div>
						
					</div>
					<div class="msg" id="passwordStatus"></div>
			</form>
	</div>
</div>
	
	</th:block>


</main>

<th:block th:include="common/footer"></th:block>
<script src="/js/member/confirmDelete.js"></script>
</body>
</html>