<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/member/memberDelete.css">


<main id="container" class="container">

	<div id="contents" class="contents memberDelete">
		<div class="inner_wrap">
			<div class="contentBox">
			<h2>회원탈퇴 시 더 이상 아래의 서비스를 이용하실 수 없습니다.	</h2>
		
				<div class="textContents">
				<h4>일반 병원에서 영유아검진까지 원하는 시간에 예약하기</h4>
				<h4>언제 어디서든 비대면 진료 받기</h4>
				<h4>내게 필요한 병원-의사 정보 쉽고 간편하게 찾기</h4>
				</div>
						
			<h2>그래도 탈퇴하시겠습니까?</h2>
			<div class="click">
				<a href="/"><button  type="submit" class="btn_primary lg" id="noDelete">안할래요</button></a>
				
				<button type="button" class="btn_more btn_primary lg" onclick="openModal(deleteModal)">탈퇴하기<span
								class="blind">더보기</span></button>
			</div>
			</div>
		</div>
	</div>

	
	</th:block>


</main>

<!--모달모달모달모달모달모달모달모달모달모달모달모달모달모달모달모달모달모달모달모달모달모달모달모달--->
<div id="deleteModal" class="modal" style="display:none;">
	<div class="modal_wrap">

		<div class="modal_header">
			<div class="modal_title">비밀번호 확인</div>
		</div>

		<div class="modal_container">
			<div class="modal_content">
			
				<form action="/member/delete" method="post">
					<div class="input_wrap">
						<div class="input_title"><label for="input_default">비밀번호</label></div>
						<div class="input_item passwordStatus">
							<input type="text" name="memberPassword" id="memberPassword" placeholder="비밀번호를 입력해주세요.">
						</div>
					</div>
					
					<button type="submit" id="delete" class="btn_primary lg">확인</button>
				</form>
				
				<button type="button" onclick="closeModal(this);" class="btn_close"><span class="blind">닫기</span></button>
			</div>
		</div>

		
	</div>
</div>

<th:block th:include="common/footer"></th:block>
<script src="/js/common/memberDelete.js"></script>

</body>
</html>