<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/member/myPageMenu.css">

<th:block th:include="common/header"></th:block>

<main id="container" class="container">
<div id="contents" class="contents signUpFrm">
	<div id="contents" class="contents memberDelete">
			<div class="inner_wrap">
					<h2>회원탈퇴 시 더 이상 아래의 서비스를 이용하실 수 없습니다.	</h2>
		
					<h4>일반 병원에서 영유아검진까지 원하는 시간에 예약하기</h4><br>
					<h4>언제 어디서든 비대면 진료 받기</h4><br>
					<h4>내게 필요한 병원/의사 정보 쉽고 간편하게 찾기</h4>	
					
					<h2>그래도 탈퇴하시겠습니까?</h2>
					<button  type="submit" class="btn_primary lg" id="noDelete">안할래요</button>
					<a href="/member/confirmDelete"><button type="submit" class="btn_primary lg" id="delete">탈퇴하기</button></a>
		</div>
	</div>
</div>
	
	</th:block>


		
		
		
		
		
		
		
		
		
		


</main>

<th:block th:include="common/footer"></th:block>
</body>
</html>