<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/member/myChildren.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- container -->
    <main id="container" class="container">

		<!-- contents -->
        <section id="contents" class="contents myInfo">
        	<div class="mypageWrap">
        	
        		<!-- 메뉴 -->            
            	<div class="menuBox">	
                	<div class="mypageMenu">
                		<ul>
                			<li><a href="/member/myInfo">내 정보 보기</a></li>
                			<li><a href="/member/myChildren">내 자녀 보기</a></li>
                			<li><a href="/member/myChildAddFrm">내 자녀 추가</a></li>
                			<li><a href="#">진료내역 상세보기</a></li>
                			<li><a href="#">나의 리뷰 보기</a></li>
                			<li><a href="#">즐겨찾기</a></li>
                			<li><a href="/member/memberDelete">회원 탈퇴</a></li>
                		</ul>
                	</div>
            	</div>
           
           
           <!-- 내 정보 내용 -->
           <div class="myInfoWrap">
           		<div class="myInfoBox">
           			<h2>내 정보</h2>
           			           			
	           			<div class="myInfoContents">
           					<span class="material-icons">emoji_emotions</span>
           				<h3><span th:text="${session.member.memberName}"></span>님</h3>
           				
           				<div class="info">
           				<span class="material-icons">child_care</span>
           				<span id="memberRrn" th:text="${session.member.memberRrn}" style="display:none;"></span><!-- 뷰에 세션으로 주민번호 꺼내오 -->
           					<ul>
           						<li>나이 : <span id="age"></span></li>
           						<li>성별 : <span id="gender"></span></li>
           						<li>주소 : <span th:text="${session.member.memberAddress}"></span></li>
           						
           					</ul>
           				
           				</div>
           				
           				
           			</div>
           		</div>
           </div>
           
           
           </div>
        </section>
	    <!--// contents -->
        
    </main>
    <!--// container -->
	
<th:block th:include="common/footer"></th:block>
<script src="/js/member/myChildren.js"></script>
<!-- js 링크 -->
</body>
</html>