<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/member/myInfo.css">

<span class="material-icons">portrait</span>

<section id="contents" class="contents myPage">
            <div class="inner_wrap">
                <h2>마이페이지</h2>
				<!--메뉴    -->
    			<div class="menu">
        			<ul>
            			<li><a href="/member/myInfo">내 정보</a>	
            			<li><a href="/member/childerenInfo">내 자녀 보기</a></li>
            			<li><a href="/member/childAddFrm">내 자녀 추가</a></li>
            			<li><a href="/">진료 내역 상세보기</a></li>
            			<li><a href="/member/myReviewList">나의 리뷰 보기</a></li>
	            		<li><a href="/member/favoriteList">즐겨찾기</a></li>
	            		<li><a href="/member/memberDelete">회원탈퇴</a></li>
	        		</ul>
					
    			</div>
    			<div><span class="material-icons">portrait</span></div>
			</div>
        </section>


<th:block th:include="common/footer"></th:block>
</body>
</html>