<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/member/myReviewFrm.css">


	<!-- container -->
    <main id="container" class="container">

		<!-- contents -->
        <section id="contents" class="contents myInfo">
        	<div class="mypageWrap">
        	
        		<!-- 메뉴 -->            
            	<div class="menuBox">	
                	<div class="mypageMenu">
                		<ul>
                			<li><a href="/member/myInfo">내 정보 보기</a></li>
                			<li><a href="/member/myChildren">내 자녀 보기</a></li>
                			<li><a href="/member/myChildAddFrm">내 자녀 추가</a></li>
                			<li><a href="/member/myMedicalHistory">내 진료내역 보기</a></li>
                			<li><a href="/member/myReview">나의 리뷰 보기</a></li>
                			<li><a href="#">즐겨찾기</a></li>
                			<li><a href="/member/memberDelete">회원 탈퇴</a></li>
                		</ul>
                	</div>
            	</div>
           
           
           <!-- 내 정보 내용 -->
           <div class="myReviewWrap">
           		<div class="myReviewBox">
           			<h2>나의 리뷰 작성하기</h2>
           			        <div class="textBox">   			
	           			<h3>대학/종합병원, 요양병원, 보건소 리뷰는 받지 않아요.</h3>
	           			<h4>업로드한 사진은 진료 확인 목적으로만 사용되며, 외부로는 공개되지 않습니다.</h4>
           					</div>
           					
           					<div class="hospitalInfo">
           					<span class="material-icons">domain_add</span>
           						
           					
           					</div>
           				
           					<div class="textarea reviewForm">
           						<textarea>
           						
           						</textarea>
           					
           					</div>
           					
           					<div class="danger">
           						<h5>부적절한 단어 및 비속어 사용 시 통보없이 삭제될 수 있으니 유의해주세요.</h5>
           					</div>
           					
           					<div class="imgBox">
           					
           					
           					</div>
           				
           				
           				<div class="subBtn">
           				<a href="#"><button type="button" class="btn_primary lg">작성 완료</button></a>
           				</div>
           			
           		</div>
           </div>
           
           
           </div>
        </section>
	    <!--// contents -->
        
    </main>
    <!--// container -->
	
<th:block th:include="common/footer"></th:block>
<script src="/js/member/myChildren.js"></script>
<!-- js 링크 -->
</body>
</html>