<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/member/myInfo.css">

<!-- container -->
<main id="container" class="container">

	<!-- contents -->
	<section id="contents" class="contents myInfo">
		<div class="mypageWrap">

			<!-- 메뉴 -->
			<th:block th:include="member/myPageMenu"></th:block>


			<!-- 내 정보 내용 -->
			<div class="myInfoWrap">
				<div class="myInfoBox">
					<h2>내 정보</h2>

					<div class="myInfoContents">
						<span class="material-icons">emoji_emotions</span>
						<h3><span th:text="${session.member.memberName}"></span>님</h3>
						<h4><span th:text="${session.member.memberEmail}"></span></h4>
						<div class="info">
							<span id="memberRrn" th:text="${session.member.memberRrn}"
								style="display:none;"></span><!-- 뷰에 세션으로 주민번호 꺼내오 -->
							<ul>
								<li>나이 : <span id="age"></span></li>
								<li>성별 : <span id="gender"></span></li>
								<li>주소 : <span th:text="${session.member.memberAddress}"></span></li>
								<li>연락처 : <span th:text="${session.member.memberPhone}"></span></li>
							</ul>
						</div>
						<form action="/member/updateMyInfo" method="post">
							<button type="submit" class="btn_primary lg">내 정보 수정하기</button>
						</form>

					</div>
				</div>
			</div>


		</div>
	</section>
	<!--// contents -->

</main>
<!--// container -->

<th:block th:include="common/footer"></th:block>
<script src="/js/member/myInfo.js"></script>
<!-- js 링크 -->
</body>

</html>