<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	
	  <div class="wrap"> 
        <h2>3초 로그인으로<br>
            764,895개 리뷰를 확인하세요.</h2>
    <form action="/member/signIn" method="post" id="signInFrm">
        <div>
            <input type="text" name="memberEmail" id="memberEmail" placeholder="이메일주소입력">
        </div>
        <div>
            <input type="text" name="memberPassword" id="memberPassword" placeholder="비밀번호입력">
        </div>


        <button type="submit">로그인</button>
    </form>


    </div>
	
	
	
	
	<th:block th:include="common/header"></th:block>
</body>
</html>