<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/member/signUpFrm.css">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<th:block th:include="common/header"></th:block>

<main id="container" class="container">

		<div id="contents" class="contents signUpFrm">
	
			<div class="inner_wrap">
				<h2>
					10초 회원 가입으로 <br> 764,895개 리뷰를 확인하세요
				</h2>
			
				<form action="/member/signUp" method="post" id="signUpFrm">
				<h4>가입유형</h4>
				<div class="select" id="select">
					<select name="memberType">
						<option value="0">선택하세요</option>
						<option value="1">회원</option>
						<option value="2">병원관계자</option>
					</select>
				</div>
				
					<div class="input_wrap">
				
					<div class="input_title">
						<label for="memberEmail">이메일</label>
				
					</div>
				
				
				
					<div class="input_item">
						
						<input onchange="" type="text" name="memberEmail" id="memberEmail" placeholder="이메일을 입력하세요">
						
						<button type="button" class="btn_primary" id="sendBtn">이메일 인증</button>
													
					</div>
					<div id="emailStatus"></div>
					
				</div>
				<div class="input_wrap" id="auth" style="display:none;"> 
				
				
				
					<div class="input_title">
						<label for="authCode">이메일 인증</label>
					</div>
				
				
					<div class="input_item">
						
						<input type="text" id="authCode" placeholder="인증번호를 입력하세요">
						
						<button class="btn_primary" id="authBtn">인증하기</button>
						<span id="timeZone"></span>
						<span id="authMsg"></span>		
					</div>
					
				</div>
				<div class="input_wrap">
					<div class="input_title">
						<label for="memberPassword">비밀번호</label>
					</div>
					<div class="input_item">
						<input type="password" name="memberPassword" id="memberPassword"
							placeholder="비밀번호를 입력하세요">
					</div>
					<div id="passwordStatus1"></div>
				</div>
				<div class="input_wrap">
					<div class="input_title">
						<label for="reMemberPassword">비밀번호 다시 입력</label>
					</div>
					<div class="input_item">
						<input type="password" name="reMemberPassword" id="reMemberPassword"
							placeholder="비밀번호를 재입력하세요">
					</div>
					<div id="passwordStatus2"></div>
					
				</div>
				<div class="input_wrap">
					<div class="input_title">
						<label for="memberName">이름</label>
					</div>
					<div class="input_item">
						<input type="text" name="memberName" id="memberName"
							placeholder="이름을 입력하세요">
					</div>
				</div>
				<div class="input_wrap">
					<div class="input_title">
						<label for="memberRrn">주민번호</label>
					</div>
					<div class="input_item">	<!-- 주민번호는 숫자만 pattern="\d*" -->
						<input oninput="rrnMaxLength(this)" maxLength="7" type="number" name="memberRrn" id="memberRrn" placeholder="주민등록번호 뒷1자리까지 입력하세요('-'미포함)" >
					</div>
					
					<div id="rrnStatus"></div>
					
				</div>
		
				<div class="input_wrap">
					<div class="input_title">
						<label for="memberAddrress">주소</label>
					</div>		
						<input type="text" name="postcode" id="postcode" readonly placeholder="우편번호">
						<button type="button" class="btn_primary" onclick="searchAddr();" >주소찾기</button>
					<div class="input_item">	
						<input type="text" class="btn_primary" name="address" id="address" readonly style="color:#222222; font-family:Noto Sans KR, sans-serif; font-style: normal;" placeholder="도로명" >
					</div>	
					<div class="input_item">	
						<input type="text" class="btn_primary" name="detailAddress" id="detailAddress" style="color:#222222; font-family:Noto Sans KR, sans-serif; font-style: normal;" placeholder="상세주소를 입력해주세요">
					</div>
										
					
				</div>
				<div class="input_wrap">
					<div class="input_title">
						<label for="memberPhone">전화번호</label>
					</div>
					<div class="input_item">
						<input oninput="autoHyphen(this)" pattern="\d*" maxlength="13" type="text" name="memberPhone" id="memberPhone" placeholder="전화번호를 입력하세요('-' 포함)">
					</div>
					<div id="phoneStatus"></div>
				</div>
				
				
				
				
				
				<div class="agree">
					<div>
						<label> <input type="checkbox" name="agreeAll" id="agreeAll"> 전체 동의</label>
					</div>
					<hr>
					<div class="checkbox">
						<div>
							<label> <input type="checkbox" name="agreeService" id="agreeService"> 서비스 이용 약관 동의</label>
						</div>
						<div>
							<label> <input type="checkbox" name="agreeLocation" id="agreeLocation"> 위치기반 서비스 이용 동의</label>
						</div>
						<div>
							<label> <input type="checkbox" name="agreeAge" id="agreeAge"> 만 14세 이상 동의</label>
						</div>
					</div>
				</div>
				<div>
					<button  type="submit" class="btn_primary lg" id="signUpBtn">회원가입</button>
				</div>
			</form>
		</div>
	</div>
</main>
<th:block th:include="common/footer"></th:block>

<!-- js 링크 -->
<script src="/js/common/signUpFrm.js"></script>

</body>
</html>