<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/etc/pharmacy.css">
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tt9jna3mp9"></script>
<th:block th:include="common/header"></th:block>

<!-- container -->
<main id="container" class="container">

	<!-- contents -->
	<section id="contents" class="contents main">
		<div class="inner_wrap">
			<h2>약국찾기</h2>
			<div class="lt_section">
				<form action="/etc/searchPharmacy" method="get">
					<div class="select_wrap">
						<div class="select">
							<select id="sido_code">
								<option>선택</option>
							</select>
						</div>
						<div class="select">
							<select id="sigoon_code">
								<option>선택</option>
							</select>
						</div>
					</div>
					<div class="input_wrap">
						<div class="input_item">
							<input type="text" name="searchPharmacy" id="searchPharmacy"
								placeholder="조회할 약국 이름을 입력하세요">
							<button type="button" class="btn_primary searchDetailPharmacy">검색</button>
						</div>
					</div>
				</form>
				<div class="pharmacyInfo">
				
				</div>
			</div>
			<div class="rt_section">
				<div class="naverMap" id="map" style="width:100%; height:700px;"></div>
			</div>
		</div>
	</section>
	<!--// contents -->

</main>
<!--// container -->
<script>

	$.support.cors = true;
	$(function() {
		$.ajax({
			type : "get",
			url : "https://api.vworld.kr/req/data?key=1A4B5F9A-7FF5-34A4-92FE-333EAEC958DD&domain=http://192.168.25.5&service=data&version=2.0&request=getfeature&format=json&size=1000&page=1&geometry=false&attribute=true&crs=EPSG:3857&geomfilter=BOX(13663271.680031825,3894007.9689600193,14817776.555251127,4688953.0631258525)&data=LT_C_ADSIGG_INFO",
			//url : "https://api.vworld.kr/req/data?key=B9A0EAF5-BEEF-3575-9FA4-BBABECB9D700&domain=http://192.168.10.44&service=data&version=2.0&request=getfeature&format=json&size=1000&page=1&geometry=false&attribute=true&crs=EPSG:3857&geomfilter=BOX(13663271.680031825,3894007.9689600193,14817776.555251127,4688953.0631258525)&data=LT_C_ADSIDO_INFO",
			async : false,
			dataType : 'jsonp',
			success : function(data) {
				let html = "<option>선택</option>";
				
				data.response.result.featureCollection.features
					.forEach(function(f) {
						let 행정구역코드 = f.properties.ctprvn_cd;
						let 행정구역명 = f.properties.ctp_kor_nm;
						html += `<option value="${행정구역코드}">${행정구역명}</option>`
					})
				$('#sido_code').html(html);
			},
			error : function(xhr, stat, err) {
			}
		});

		$(document).on("change","#sido_code",function() {
			let thisVal = $(this).val();

			$.ajax({
				type : "get",
				url : "https://api.vworld.kr/req/data?key=1A4B5F9A-7FF5-34A4-92FE-333EAEC958DD&domain=http://192.168.25.5&service=data&version=2.0&request=getfeature&format=json&size=1000&page=1&geometry=false&attribute=true&crs=EPSG:3857&geomfilter=BOX(13663271.680031825,3894007.9689600193,14817776.555251127,4688953.0631258525)&data=LT_C_ADSIGG_INFO",
				//url : "https://api.vworld.kr/req/data?key=B9A0EAF5-BEEF-3575-9FA4-BBABECB9D700&domain=http://192.168.10.44&service=data&version=2.0&request=getfeature&format=json&size=1000&page=1&geometry=false&attribute=true&crs=EPSG:3857&geomfilter=BOX(13663271.680031825,3894007.9689600193,14817776.555251127,4688953.0631258525)&data=LT_C_ADSIGG_INFO",
				data : {attrfilter : 'sig_cd:like:'+ thisVal},
				async : false,
				dataType : 'jsonp',
				success : function(data) {
					let html = "<option>선택</option>";

					data.response.result.featureCollection.features.forEach(function(f) {
							let 행정구역코드 = f.properties.sig_cd;
							let 행정구역명 = f.properties.sig_kor_nm;
							html += `<option value="${행정구역코드}">${행정구역명}</option>`
						})
					$('#sigoon_code').html(html);

				},
				error : function(xhr, stat, err) {
				}
			});
		});

		$(document).on("change","#sigoon_code",function() {

			let thisVal = $(this).val();

			$.ajax({
				type : "get",
				url : "https://api.vworld.kr/req/data?key=1A4B5F9A-7FF5-34A4-92FE-333EAEC958DD&domain=http://192.168.25.5&service=data&version=2.0&request=getfeature&format=json&size=1000&page=1&geometry=false&attribute=true&crs=EPSG:3857&geomfilter=BOX(13663271.680031825,3894007.9689600193,14817776.555251127,4688953.0631258525)&data=LT_C_ADSIGG_INFO",
				//url : "https://api.vworld.kr/req/data?key=B9A0EAF5-BEEF-3575-9FA4-BBABECB9D700&domain=http://192.168.10.44&service=data&version=2.0&request=getfeature&format=json&size=1000&page=1&geometry=false&attribute=true&crs=EPSG:3857&geomfilter=BOX(13663271.680031825,3894007.9689600193,14817776.555251127,4688953.0631258525)&data=LT_C_ADEMD_INFO",
				data : {attrfilter : 'emd_cd:like:'+ thisVal},
				async : false,
				dataType : 'jsonp',
				success : function(data) {
					let html = "<option>선택</option>";

					data.response.result.featureCollection.features.forEach(function(f) {
							let 행정구역코드 = f.properties.emd_cd;
							let 행정구역명 = f.properties.emd_kor_nm;
							html += `<option value="${행정구역코드}">${행정구역명}</option>`
						})
					$('#dong_code').html(html);
				},
				error : function(xhr, stat, err) {
				}
			});

		});
	});
	
	let pageNo = 1;
	
	$.ajax({
		url:"/etc/pharmacyInfo",
		type: "get",
		data:{pageNo : pageNo},
		success: function(data){
			for(let i=0; i<data.length;i++){
				const pharmacyInfo = $(".pharmacyInfo");
				
				const titleDiv = $("<div>");
				titleDiv.attr("class", "pharmacyTitle");
				titleDiv.text(data[i].dutyName); // <div class = ~~ >이거 텍스트</div>
				
				const addrDiv = $("<div>");
				addrDiv.attr("class", "pharmacyAddr");
				addrDiv.text(data[i].dutyAddr);
				
				const telDiv = $("<div>");
				telDiv.attr("class", "pharmacyTel");
				telDiv.text(data[i].dutyTel1);
			
				const latInput = $("<input>");
				latInput.attr("type", "hidden");
				latInput.attr("value", data[i].lat);
				
				const lngInput = $("<input>");
				lngInput.attr("type", "hidden");
				lngInput.attr("value", data[i].lng);
				
				pharmacyInfo.append(titleDiv)
							.append(addrDiv)
							.append(telDiv)
							.append(latInput)
							.append(lngInput);
			}
			console.log(data)
		},
		error : function(){
			console.log("에러");
		}
	});
	
</script>
<th:block th:include="common/footer"></th:block>
</html>