* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
}


.btl{
	width: 100%;
  	border-spacing: 0px;
  	border-collapse: collapse;
}

.tr-header{
	background-color: rgba(57, 62, 70, 0.15);
	height : 30px;
	line-height:30px;
	text-align:center;
}

.tr-content{
	background-color: white;
	text-align:center;
}

#pageNavi{
	margin: 30px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}