@charset "UTF-8";



.item-member{
	width:800px;
	height:200px;
	margin:0 auto;
}

.tbl-1{
	width:100%;
	height:150px;
}


tr{
	height:75px;
	line-height:75px;
}

th,td{
	border:1px solid gray;
	text-align:center;
}

th{
	width:100px;
	background-color: rgba(57, 62, 70, 0.15);
}

td{
	font-weight:bold;
	width:300px;
}
