<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
.container{flex-grow:1; padding-top:121px;}
#contents{padding:60px 0; background-color:#fff;}
.inner_wrap{width:100%; max-width:1320px; margin:0 auto; padding:0 60px; /*overflow:hidden;*/}
</style>
<body>
	<main id="container" class="container">

	<!-- contents -->
	<section id="contents" class="contents adminMain">
		<div class="inner_wrap">
			<img src="/images/404page.jpg">
		</div>
	</section>
</body>
