<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/hospital/businessAuth.css">

<th:block th:include="common/header"></th:block>

<!-- container -->
<main id="container" class="container">
	<!-- contents -->
	<section id="contents" class="contents main">
		<div class="hospital_wrap">
			<div class="main_content">
				<h2>사업자 인증</h2>
				<form id="uploadForm" action="/hospital/myHospitalFrm" method="post"
					enctype="multipart/form-data">

					<div class="businessAuth_lable">대표자명</div>
					<div class="input-box">
						<input type="text" name="representative_name" placeholder="가입폼 이름 불러오기"
							required>
					</div>

					<div class="businessAuth_lable">사업자등록번호</div>
					<div class="input-wrap input-box">
						<input type="text" name="representative_no" id="representative_no" placeholder="사업자등록번호 10자리를 입력하세요." required>
					</div>

					<div class="businessAuth_lable">사업자등록증 및 의사면허증</div>
					<p class="businessAuth_description">사업자등록증 및 의사 면허증을 업로드해주세요.
						(*2개 파일 업로드 제한)</p>

					<div class="multiple_file">
						<label class="file-upload"> <input type="file"
							name="files" id="fileInput" multiple> <span
							class="file-button">파일 선택</span>
						</label> <span id="fileCount">0개 파일 선택됨</span>
						<ul id="fileList"></ul>
					</div>

					<div class="btn_area">
						<button type="button" class="btn_primary lg" id="search_btn">조회</button>
						<button type="button" class="btn_secondary lg" onclick="goBack()">이전</button>
						<button type="submit" class="btn_primary lg" id="enroll_btn">등록</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!--// contents -->
</main>
<!--// container -->


<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->

<script>

$("#search_btn").on("click",function(){
	let representativeNo = $("#representative_no").val();
	console.log(representativeNo);
		$.ajax({
					url: "/hospital/bizApi",
					data : {representativeNo : representativeNo},
					type : "post",
					success : function(data){
						console.log("성공");
					},
					error : function(){
						console.log("에러");
					}
				});	
			});
</script>

<script src="/js/common/businessAuth.js"></script>

</body>
</html>