<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사업자 인증</title>
  <link rel="stylesheet" href="/css/common/businessAuth.css">

</head>


<body>
  <div class="wrapper">
    <h2>사업자 인증</h2>
    <form id="uploadForm" action="/member/happy" method="post" enctype="multipart/form-data">

      <div class="businessAuth_lable">대표자명</div>
      <div class="input-box">
        <input type="text" name="representative" placeholder="가입폼 이름 불러오기" required>
      </div>

      <div class="businessAuth_lable">사업자등록번호</div>
      <div class="input-box">
        <input type="text" name="representative_no" id="businessNumberInput" placeholder="OOO-OO-OOOOO" required>
      </div>

      <div class="businessAuth_lable">사업자등록증 및 의사면허증</div>
      <p class="businessAuth_description">사업자등록증 및 의사 면허증을 업로드해주세요. (*2개 파일 업로드 제한)</p>

      <div class="multiple_file">
        <label class="file-upload">
          <input type="file" name="files" id="fileInput" multiple>
          <span class="file-button">파일 선택</span>
        </label>
        <span id="fileCount">0개 파일 선택됨</span>
        <ul id="fileList"></ul>
      </div>

      <div class="input-box button">
        <input type="Submit" name="nextbtn" id="nextbtn" value="다음">
      </div>
    </form>
  </div>
  <script src="/js/businessAuth.js"></script>
</body>
</html>