<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <link rel="stylesheet" href=""> 이 자리에 자기 css 넣기-->
<link rel="stylesheet" href="/css/hospital/myHospitalFrm.css">

<th:block th:include="common/header"></th:block>

	<!-- 용도 : 로그인 시, 메시지만 띄우고 특정페이지로 이동하게끔만 역할하는 html -->
	<!--  sweetalert 사용 -->
	<script src="/js/sweetalert.min.js"></script>
	<script th:inline="javascript">	
		
	const title = [[${title}]]; //두개로 감싼값이 서버에서 보애준 값 **스크립트 레벨에서 사용
	const msg = [[${msg}]];
	const icon = [[${icon}]];
	const loc = [[${loc}]];
		//sweetalert 사용법
		//1. 라이브러리 추가
		//2. 사용
		swal({
			title : title,
			text : msg,
			icon : icon,
		}).then(function(){
			//ok버튼 클릭하면 동작할 함수(=이동할 페이지) -> 전달받은 loc 페이지로 이동.
			location.href = loc;
		});
	</script>		
	
<th:block th:include="common/footer"></th:block>
</body>
</html>