<!DOCTYPE html>
<html>
<!-- <link rel="stylesheet" href="/css/common/myHospitalFrm.css"> 이 자리에 자기 css 넣기-->
<link rel="stylesheet" href="/css/common/myHospitalFrm.css">
<th:block th:include="common/header"></th:block>

	<!-- container -->
    <main id="container" class="container">

		<!-- contents -->
        <section id="contents" class="contents myHospitalMain">
            <div class="hospital_wrap">
                <div class="left_wrap">Left content</div>
  				<div class="right_wrap">
					
						

				</div>
            </div>
        </section>
	    <!--// contents -->
        
    </main>
    <!--// container -->
	
<th:block th:include="common/footer"></th:block>
</body>
</html>