<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>

<link rel="stylesheet" href="/css/member/myMedicalHistory.css">

	<!-- container -->
 <main id="container" class="container myMedicalHistory">

<!-- contents -->
     <section id="contents" class="contents">
         <div class="inner_wrap">
             <h2>병원 리뷰내역</h2>
             <!-- <p th:if="${session.member != null}" th:text="${session.member.memberName}">세션이 있냐</p> -->

             <div class="history_area" style="display:flex;  justify-content: space-around; /* 가로 가운데 정렬 */">
                 <div class="history_wrap" style="width:500px;">
                     <p class="history_info_txt">고객들의 감사한 리뷰입니다.</p>
                     <ul class="history_list">
                       
                     </ul>
                 </div>
             </div>
         </div>
     </section>
     <!--// contents -->
     
 </main>
 <!--// container -->
	
<th:block th:include="common/footer"></th:block>
<!-- js 링크 -->
<script th:inline="javascript">
 const memberNo = [[${session.member.memberNo}]];
 console.log(memberNo);
     $.ajax({
         url: "/hospital/selectMyReviewHistory",
         type: "POST",
         dataType: "JSON",
         data: {
             memberNo: memberNo,
         },
         success: function(data){
             console.log(data);

             $(data).each(function(index, item){
                 console.log(typeof item.reviewNo);
                 const li = $("<li>");
                 const detailLink = $("<a href='javascript:void(0);'>");
                 const badgeArea = $("<div class='badge_area'>");
                 const resStatus = $("<span class='badge blue outline'>");
                 const resType = $("<span class='badge red outline'>");
                 const memberName = $("<span class='name'>");
                 const btnArea = $("<div class='btn_area'>");
                 //예약 상태(예약 상태에 따라 필요한 버튼 생성 및 노출)
                 if(item.reservationStatus == 1){
                     resStatus.addClass("blue outline");
                     resStatus.text("접수대기");
                     const ctaBtn = $("<button type='button' class='btn_secondary' id='cancelBtn'>예약 취소</button>");
                     ctaBtn.on("click", function(e){
                         e.stopPropagation();
                         cancelFunc($(this));
                     })
                     btnArea.append(ctaBtn);
                 }else if(item.reservationStatus == 2){
                     resStatus.addClass("red outline");
                     resStatus.text("예약취소");
                 }else if(item.reservationStatus == 3){
                     resStatus.addClass("blue");
                     resStatus.text("예약확정");
                     const ctaBtn = $("<button type='button' class='btn_secondary' id='cancelBtn'>예약 취소</button>");
                     ctaBtn.on("click", function(e){
                         e.stopPropagation();
                         cancelFunc($(this));
                     })
                     btnArea.append(ctaBtn);
                 }else if(item.reservationStatus == 4){
                     resStatus.addClass("gray");
                     resStatus.text("진료완료");
                     if(item.reservationType == 2){
                         const ctaBtn = $("<a href='#' class='btn_primary outline'>수납하기</a>");
                         btnArea.append(ctaBtn);
                     }else{
                         if(item.reviewNo == 0){
                             const ctaBtn = $("<a href='#' class='btn_primary outline'>리뷰 작성</a>");
                             btnArea.append(ctaBtn);
                             ctaBtn.on("click", function(e){
                                 e.stopPropagation();
                             })
                         }
                     }
                 }else{
                     resStatus.addClass("gray");
                     resStatus.text(item.reviewDate);
                     const ctaBtn1 = $("<button type='button' class='btn_primary' id='showPrescription'>처방전 보기</button>");
                     const reviewContent = $("<span>").text(item.reviewContent);
                     btnArea.append(reviewContent);
                     
                     ctaBtn1.on("click", function(e){
                         e.stopPropagation();
                         showPreScription();
                     });
                     if(item.reviewNo == 0){
                         const ctaBtn2 = $("<a href='#' class='btn_primary outline'>리뷰 작성</a>");
                         btnArea.append(ctaBtn2);
                         ctaBtn2.on("click", function(e){
                             e.stopPropagation();
                         })
                     }
                 }
                 //예약 타입(대면/비대면)
                 if(item.reservationType == 1){
                     resType.addClass("contact");
                     resType.text("대면진료");
                 }else{
                     resType.addClass("contactless");
                     resType.text("평점 " + item.reviewRating);
                 }
                 //진료대상자 이름
                 if(item.childName != null){
                     memberName.text(item.childName);
                 }else{
                     memberName.text(item.memberName);
                 }
                 badgeArea.append(resStatus).append(resType).append(memberName);
                 //예약 정보(병원이름/예약일시)
                 const infoArea = $("<div class='info_area'>");
                 const hospitalName = $("<strong class='hospital_name'>");
                 hospitalName.text(item.hospitalName);
                 const resTime = $("<div class='res_time'>");
                 const resTimeDate = $("<span class='res_time_date'>");
                 const resTimeDay = $("<span class='res_time_day'>");
                 const resTimeTime = $("<span class='res_time_time'>");
                 resTimeDate.text(item.resTimeDate);
                 resTimeDay.text(item.resTimeDay);
                 resTimeTime.text(item.resTimeTime);
                 resTime.append(resTimeDate).append(resTimeDay).append(resTimeTime);
                 
                 //합치기
                 detailLink.append(badgeArea);
                 detailLink.append(infoArea);
                 detailLink.append(btnArea);
                 li.append(detailLink);
                 $(".history_list").append(li);

                 //리스트 클릭시 상세내역 모달 노출
                 const reservationNo = item.reservationNo;
                 detailLink.on("click", function(){
                     $("body").find(".modal").remove();
                     $.ajax({
                         url: "/hospital/selectReservationInfo",
                         type: "post",
                         dataType: "JSON",
                         data: {memberNo: memberNo},
                         success: function(doc){
                             console.log("닥", doc);
                             let modal = [
                                 "<div class='modal lg' id='detail_"+reservationNo+"'>",
                                     "<div class='modal_wrap'>",
                                         "<div class='modal_header'>",
                                             "<div class='modal_title'>리뷰 내역</div>",
                                         "</div>",
                                         "<div class='modal_container'>",
                                             "<div class='modal_content'>",
                                                 "<ul class='result_info'>",
                                                     "<li><span>담당의사</span><strong>"+doc[0].doctorName+"</strong></li>",
                                                     "<li><span>의사학력</span><strong>"+doc[0].doctorEducation+"</strong></li>",
                                                     "<li><span>의사경력</span><strong>"+doc[0].doctorExperience+"</strong></li>",
                                                     "<li><span>진료과목</span><strong>"+doc[0].subjectName+"</strong></li>",
                                                 "</ul>",
                                             "</div>",
                                         "</div>",
                                         "<div class='modal_footer'>",
                                             "<div class='btn_area'>",
                                                 "<button type='button' class='btn_primary lg' onclick='closeModal(this)'>확인</button>",
                                                 "<button type='button' class='btn_secondary lg' onclick='closeModal(this)'>신고</button>",
                                             "</div>",
                                         "</div>",
                                         "<button type='button' onclick='closeModal(this);' class='btn_close'><span class='blind'>닫기</span></button>",
                                     "</div>",
                                 "</div>"
                             ].join("");
                             $("body").append(modal);
                             $("html").addClass("scroll_fixed");
                         },
                         error: function(){
                             console.log("에러");
                         }
                     })
                 })

                 //예약취소 버튼 클릭시 예약취소
                 function cancelFunc(obj){
                     if(confirm("예약을 취소하시겠습니까?")){
                         $.ajax({
                             url: "/service/cancelMyReservation",
                             type: "post",
                             dataType: "JSON",
                             data: {reservationNo: reservationNo},
                             success: function(data){
                                 resStatus.removeClass("blue").addClass("red outline");
                                 resStatus.text("예약취소야");
                                 $(obj).remove();
                             },
                             error: function(){
                                 console.log("에러");
                             }
                         })
                         return true;
                     }else{
                         return false;
                     }
                 }

                 //처방전 보기 클릭시 처방전 모달 노출
                 function showPreScription(){
                     $("body").find(".modal").remove();
                     $.ajax({
                         url: "/service/selectMyPrescription",
                         type: "GET",
                         dataType: "JSON",
                         data: {reservationNo: reservationNo},
                         success: function(data){
                             console.log(data);
                             let modal = [
                                 "<div class='modal lg' id='prescription_"+reservationNo+"'>",
                                     "<div class='modal_wrap'>",
                                         "<div class='modal_container'>",
                                             "<div class='modal_content'>",
                                                 "<div class='img_wrap'>",
                                                     "<img src='/reservation/"+data.prescriptionPath+"' alt='처방전 사진'>",
                                                 "</div>",
                                             "</div>",
                                         "</div>",
                                         "<div class='modal_footer'>",
                                             "<div class='btn_area'>",
                                                 "<a href='/service/prescriptionDown?prescriptionName="+data.prescriptionName+"&prescriptionPath="+data.prescriptionPath+"' class='btn_primary lg' onclick=''>처방전 다운로드</a>",
                                             "</div>",
                                         "</div>",
                                         "<button type='button' onclick='closeModal(this);' class='btn_close'><span class='blind'>닫기</span></button>",
                                     "</div>",
                                 "</div>"
                             ].join("");
                             $("body").append(modal);
                             $("html").addClass("scroll_fixed");
                         },
                         error: function(){
                             console.log("에러");
                         }
                     })
                 }

             })
            
         },
         error: function(){
             console.log("에러");
     }
     });

</script>
</body>
</html>