<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/hospital/myHospitalReservationList.css">
<link rel="stylesheet" href="/css/reservation/reservationPaginavi.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
<th:block th:include="common/header"></th:block>
<!-- container -->
    <main id="container" class="container">
		<!-- contents -->
        <section id="contents" class="contents main">
            <div class="inner_wrap">
            	<div class="reservation_title">
            		<h2>내 병원 예약목록</h2>
            	</div>
	            <div class="hospital_reservation_wrap">
	            <th:block th:each="reservation : ${reservation}">
		            <div class="hospital_reservation">
		            	<div class="reservation_wrap_content top">
		            	<th:block th:switch="${reservation.reservationType}">
		            		<span th:case="1" class="badge blue">대면진료</span>
		            		<span th:case="2" class="badge red outline">비대면진료</span>
		            	</th:block>
		            	<th:block th:switch="${reservation.reservationStatus}">
		            		<span th:case="1" class="badge blue outline">접수대기</span>
		            		<span th:case="2" class="badge red outline">예약취소</span>
		            		<span th:case="3" class="badge blue">예약확정</span>
		            		<span th:case="4" class="badge gray">진료완료</span>
		            	</th:block>
		            		<span class="reg_reservation" th:text="${reservation.reservationTime}"></span>
		            	</div>
		            	<div class="reservation_wrap_content midle">
		            		<span class="reservationName" th:text="${reservation.memberName}"></span>
		            	</div>
		            	<div class="reservation_wrap_content bottom">
		            		<span class="chargeDoctor">진료선생님</span>
		            		<span class="chargeDoctorName" th:text="${reservation.doctorName}"></span>
		            	</div>
		            	<th:block th:switch="${reservation.reservationStatus}">
		            	<div class="select" th:case="1">
		            		<select class="hospital_reservation_type">
		            			<option value="1" th:selected="${reservation.reservationStatus == 1}">선택</option>
								<option value="2" th:selected="${reservation.reservationStatus == 2}">예약거부</option>
								<option value="3" th:selected="${reservation.reservationStatus == 3}">예약확정</option>
								<option value="4" th:selected="${reservation.reservationStatus == 4}">진료완료</option>
							</select>
						</div>
						<!-- 
						<div class="success_btn btn_wrap" th:case="3">
							<button type="button" class="btn_primary hospital_reservation_type">예약확정</button>
						</div>
						 -->
						<div class="prescription_btn btn_wrap" th:case="4" th:if="${reservation.reservationType == 2}">
							<button type="button" class="btn_secondary hospital_reservation_type">처방전 등록</button>
						</div>
						</th:block>	
		            </div>
		            <input type="hidden" id="reservationNo" name="reservationNo" class="reservationNo" th:value="${reservation.reservationNo}">
	            </th:block>	
	            <div id="pageNavi" th:utext="${pageNavi}"></div>	
	            </div>
            </div>
        </section>
	    <!--// contents -->
    </main>
    <!--// container -->
    
    <!--// container -->

	<div id="popup_01" class="modal" style="display:none;">
	<!-- <div id="popup_01" class="modal"> -->
		<div class="modal_wrap">
			
			<div class="modal_header">
				<div class="modal_title">처방전 등록하기</div>
			</div>
	
			<div class="modal_container">
				<div class="modal_content">
					<div class="img-viewer">
						<img class="img-view" width="100px">
					</div>
					<input type="file" name="prescription_file" accept=".pdf">
				</div>
			</div>
			
			<div class="modal_footer">
				<div class="btn_area">
					<button type="button" onclick="closeModal(this);" class="btn_secondary lg">취소</button>
					<button type="button" class="btn_primary lg submit_btn">등록하기</button>
				</div>
			</div>
	
			<button type="button" onclick="closeModal(this);" class="btn_close"><span class="blind">닫기</span></button>
	
		</div>
	</div>
<th:block th:include="common/footer"></th:block>
<script>
	$(".hospital_reservation_type").on("change",function(){
		const index = $(".hospital_reservation_type").index(this);
		const obj = $(this);
		const selectValue = $(this).val();
		const reservationNo = $(this).parent().parent().next().val();
		const reservationType = $(this).parent().parent().children().eq(0).children().eq(0).text();
		$.ajax({
			url:"/hospital/changeReservationType",
			type:"get",
			data:{selectValue : selectValue, reservationNo : reservationNo},
			success : function(data){
				if(data == 1){
					if(selectValue == 2){
						obj.parent().parent().find(".badge").eq(1).text("예약취소");
						obj.parent().parent().find(".badge").eq(1).attr("class","badge red outline");
						obj.parent().remove();
					}else if (selectValue == 3){
						obj.parent().parent().find(".badge").eq(1).text("예약확정");
						obj.parent().parent().find(".badge").eq(1).attr("class","badge blue");
						obj.parent().remove();
					}else if (selectValue == 4){
						obj.parent().parent().find(".badge").eq(1).text("진료완료");
						obj.parent().parent().find(".badge").eq(1).attr("class","badge gray");
						if(reservationType == "비대면진료"){
							const newBtnWrap = $("<div class='prescription_btn btn_wrap'>");
							const newBtn = $("<button type='button' class='btn_secondary hospital_reservation_type'>");
							newBtn.text("처방전 등록");
							newBtnWrap.append(newBtn);
							obj.parent().parent().append(newBtnWrap);
							obj.parent().remove();
							newBtn.on("click",function(){
								prescriptionUpload(nextBtn);
							});
						}else{
							obj.parent().remove();
						}
					}
				}
			},
			error : function(){
				console.log("에러발생");
			}
		});
	});

	$(".prescription_btn").on("click",function(){
		prescriptionUpload(this);
	
	});
	let reservationNo = 0;
	function prescriptionUpload(obj){
		const revNo = $(obj).parent().next().val();
		console.log(revNo)
		reservationNo = revNo;
		$(".modal").attr("style","display:block");

	}

	$(".submit_btn").on("click",function(){
		const file = $("[name=prescription_file]")[0].files[0];
		$(".prescription_btn").remove();
		if(file !== undefined){
			const form = new FormData();
			form.append("file",file);
			form.append("reservationNo",reservationNo);;
			
			$.ajax({
				url:"/hospital/prescriptionRegistration",
				type: "post",
				data : form,
				processData : false,
				contentType : false,
				success : function(data){
					if(data==1){
						$(".modal").attr("style","display:none");
					}
				},
				error : function(){
					console.log("에러발생")
				}
			});
		}else{
			alert("처방전을 등록해주세요");
		}
	});
	
</script>
</html>