<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>
<link rel="stylesheet" href="/css/hospital/myHospitalFrm.css">
<script	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=3jwhpqglw9&submodules=geocoder"></script>


<!-- container -->
<main id="container" class="container">
	<!-- contents -->
<section id="contents" class="contents main">
	<div id="hospital_wrap">
		<div class="side_menu">
			<ul class="side_list">
				<li><a href="#">병원정보</a></li>
				<li><a href="#">예약관리</a></li>
				<li><a href="#">리뷰관리</a></li>
			</ul>
		</div>
		<div class="main_content">
		
		
			<div class="hospital_info_form">
				<!-- 병원정보 입력 -->
		<h2>병원정보 입력</h2>

			</div>
		</div>
	</div>
</section>
<!--// contents -->

</main>
<!--// container -->


<th:block th:include="common/footer"></th:block>
</body>
</html>

