<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>
<link rel="stylesheet" href="/css/hospital/myHospitalFrm.css">
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript"
	src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=3jwhpqglw9&submodules=geocoder"></script>


<!-- container -->
<main id="container" class="container">
	<!-- contents -->
<section id="contents" class="contents main">
	<div id="hospital_wrap">
		<div class="side_menu">
			<ul class="side_list">
				<li><a href="#">병원정보</a></li>
				<li><a href="#">예약관리</a></li>
				<li><a href="#">리뷰관리</a></li>
			</ul>
		</div>
		<div class="main_content">

			<div class="hospital_info_form">
				<h2>내 병원정보</h2>

				<!-- 병원이름 입력 -->
	<div class="item_section">
		<h4>병원이름</h4>
		<p class="intro" th:text="${h.hospitalName}">병원이름</p>
	</div>

	<!-- 병원사진  -->

	<div class="input_wrap">
		<div class="input_title">
			<label for="hospital_name">병원사진</label>
		</div>
		<div class="input_item">
			<img src="/images/banner_img_01.jpg" alt="배너 1"
				style="width: 300px">
		</div>
	</div>

	<!-- 병원소개 -->
	<div class="input_wrap">
		<div class="input_title">
			<label for="hospital_Intro">병원소개</label>
		</div>
		<div class="input_item">
			<span class="hospital_Intro" th:text="${h.hospitalIntro}">병원소개</span>
		</div>
	</div>

	<!-- 병원주소 -->
	<div class="input_wrap">
		<div class="input_title">
			<label for="hospital_Intro">병원주소</label>
		</div>
		<div class="input_item">
			<span class="hospital_Address" th:text="${h.hospitalAddress}">병원주소</span>
		</div>
	</div>

	<!-- 전화번호 -->
	<div class="input_wrap">
		<div class="input_title">전화번호</div>
		<div class="input_item">
			<p class="tel" th:text="${h.hospitalTel}">전화번호</p>
		</div>
	</div>
	
	<!-- 진료시간 -->
	<div class="input_wrap">
		<div class="input_title">진료시간</div>
		<div class="input_item">
			<ul class="time_list">
				<li ><strong class="day_info">월요일</strong> <span
					class="time_info" th:text="${h.time.dayHour}"></span> <span
					class="lunch_hour">점심시간(<em
						th:text="${h.time.lunchHour}"></em>)
				</span></li>
				<li><strong class="day_info">화요일</strong> <span
					class="time_info" th:text="${h.time.dayHour}"></span> <span
					class="lunch_hour">점심시간(<em
						th:text="${h.time.lunchHour}"></em>)
				</span></li>
				<li><strong class="day_info">수요일</strong> <span
					class="time_info" th:text="${h.time.dayHour}"></span> <span
					class="lunch_hour">점심시간(<em
						th:text="${h.time.lunchHour}"></em>)
				</span></li>
				<li><strong class="day_info">목요일</strong> <span
					class="time_info" th:text="${h.time.dayHour}"></span> <span
					class="lunch_hour">점심시간(<em
						th:text="${h.time.lunchHour}"></em>)
				</span></li>
				<li><strong class="day_info">금요일</strong> <span
					class="time_info" th:text="${h.time.dayHour}"></span> <span
					class="lunch_hour">점심시간(<em
						th:text="${h.time.lunchHour}"></em>)
				</span></li>
				<li><strong class="day_info">토요일</strong> <span
					class="time_info" th:text="${h.time.weekendHour}"></span></li>
				<li><strong class="day_info">일요일</strong> <span
					class="time_info" th:text="${h.time.weekendHour}"></span></li>
			</ul>


		</div>
	</div>

	<!-- 의사정보  -->
	<div class="input_wrap">
		<div class="input_title">
			의료진(<span class="doctor_count"><strong class="count"
				th:text="${h.doctorList.size()}"></strong>명</span>)
		</div>
		<div class="input_item">
			<ul class="doctor_list">
				<li th:each="d : ${h.doctorList}">
					<div class="doctor_img_wrap">
						<img style="width: 150px; height: 150px">
					</div>
					<div class="doctor_info_wrap">
						<div class="title_wrap">
							<strong class="doctor_name" th:text="${d.doctorName}">의사이름</strong>
							<span class="subject_name" th:text="${d.subjectName}">진료과</span>
						</div>
						<div class="info_wrap">
							<p class="education_info" th:text="${d.doctorEducation}">의사
								학력 정보</p>
							<p class="experience_info" th:text="${d.doctorExperience}">의사
								경력 정보</p>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>
	<!-- 진료비용 -->
				<div class="input_wrap">
					<div class="input_title">진료비용</div>
					<div class="input_item">
						<table id="hospital_cost">
							<tr>
								<th>상담비</th>
								<td><span th:text="${h.CostOne}"></span></td>
							</tr>
							<tr>
								<th>시술비</th>
								<td><span th:text="${h.CostTwo}"></span></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--// contents -->

</main>
<!--// container -->
<th:block th:include="common/footer"></th:block>
<script th:inline="javascript">
//진료시간
const hospital = [[${h}]];
const holiday = String(hospital.time.holiday);
const date = new Date();
const today = date.getDay();//0:일 ~ 6:토

$(".time_list>li").each(function (index, item){
 if(holiday.includes(index+2)){
 	//li: 0(월요일)
 	//holiday: 1(일요일), 2(월요일)
 	$(item).append("<span style='color:var(--main_02)'>휴일</span>");
 }
});
</script>




</body>
</html>

