<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/header"></th:block>
<link rel="stylesheet" href="/css/hospital/myHospitalFrm.css">
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript"
	src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=3jwhpqglw9&submodules=geocoder"></script>


<!-- container -->
<main id="container" class="container">
	<!-- contents -->
<section id="contents" class="contents main">
	<div id="hospital_wrap">
		<div class="side_menu">
			<ul class="side_list">
				<li><a href="#">병원정보</a></li>
				<li><a href="#">예약관리</a></li>
				<li><a href="#">리뷰관리</a></li>
			</ul>
		</div>
		<div class="main_content">


			<div class="hospital_info_form">
				<!-- 병원정보 입력 -->
		<h2>병원정보 입력</h2>
		<!-- 병원이름 입력 -->
		<div class="input_wrap">
			<div class="input_title">
				<label for="hospital_name">병원이름</label>
			</div>
			<div class="input_value">
				<span th:text="${h.hospitalName}">병원이름</span>
			</div>
		</div>

		<!-- 병원사진  -->
		<div class="input_wrap">
			<div class="input_title">
				<label for="hospital_name">병원사진</label>
			</div>
			<div class="imghospital">
				<img src="/images/banner_img_01.jpg" class="hospic" width="100%">
			</div>
		</div>


		<!-- 병원소개 입력 -->
		<div class="input_wrap">
			<div class="input_title">
				병원소개<em>(Hooking Point)</em>
			</div>
			<div class="input_value">
				<span th:text="${h.hospitalIntro}">병원이름</span>
			</div>
		</div>



		<!-- 병원주소 입력 -->
		<div class="input_wrap">
			<div class="input_title">병원주소</div>
			<div class="input_value">
				<div th:text="${h.hospitalPostCode}">우편번호</div>
				<div th:text="${h.hospitalAddrMain}">메인주소</div>
				<div th:text="${h.hospitalAddrSub}">주소상세</div>
			</div>

		</div>


		<!-- 진료시간 입력 -->
		<div class="input_wrap">
			<div class="input_title">
				<label for="time_table">진료시간</label>
			</div>
			<div class="input_item">
				<div class="time_table">
					<label for="select">평일</label>
				</div>
				<div class="select">
					<select disabled>
						<option th:text="${h.time.dayHour}">평일</option>
					</select>
				</div>
			</div>

			<!-- 주말  -->
			<div class="input_item time_zone">
				<div class="time_table">
					<label for="select">주말</label>
				</div>
				<div class="select">
					<select disabled>
						<option th:text="${h.time.weekendHour}">주말</option>
					</select>
				</div>
			</div>



			<!-- 점심  -->
			<div class="input_item time_zone">
				<div class="time_table">
					<label for="select">점심</label>
				</div>
				<div class="select">
					<select disabled>
						<option th:text="${h.time.lunchHour}">주말</option>
					</select>
				</div>
			</div>
		</div>


		<div class="input_wrap">
			<div class="input_title">휴무일</div>
			<div class="input_item">
				<label><input type="checkbox" name="hol" value="2">
					월</label> <label><input type="checkbox" name="hol" value="3">
					화</label> <label><input type="checkbox" name="hol" value="4">
					수</label> <label><input type="checkbox" name="hol" value="5">
					목</label> <label><input type="checkbox" name="hol" value="6">
					금</label> <label><input type="checkbox" name="hol" value="7">
					토</label> <label><input type="checkbox" name="hol" value="1">
					일</label>
			</div>
		</div>


		<!-- 전화번호 입력 -->
		<div class="input_wrap">
			<div class="input_title">전화번호</div>
			<div class="input_value">
				<span th:text="${h.hospitalTel}">전화번호</span>
			</div>
		</div>



		<!-- 의사정보 등록  -->
		<div class="input_wrap">
			<div class="input_title">의사정보</div>
			<div class="input_doctor">
				<ul class="doctor_list">
					<li th:each="d : ${h.doctorList}">
						<div class="doctor_img_wrap">
							<img th:src="@{/doctor/} + ${d.doctorPicture}"
								style="width: 150px; height: 150px">
						</div>
						<div class="doctor_info_wrap">
							<div class="title_wrap">
								<strong class="doctor_name" th:text="${d.doctorName}">의사이름</strong>
								<span class="subject_name" th:text="${d.subjectName}">진료과</span>
							</div>
							<div class="info_wrap">
								<p class="education_info" th:text="${d.doctorEducation}">의사
									학력 정보</p>
								<p class="experience_info" th:text="${d.doctorExperience}">의사
									경력 정보</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>


		<!-- 진료비용 -->
				<div class="input_wrap">
					<div class="input_title">병원주소</div>
					<div class="input_value">
						<div th:text="${'상담비  - '}+${h.costOne}">상담비</div>
						<div th:text="${'시술비  - '}+${h.costTwo}">시술비</div>
					</div>
				</div>

				<div class="btn_area">
					<button type="submit" class="btn_secondary lg hospital_enroll_cancel">정보삭제</button>
					<button type="submit" class="btn_primary lg hospital_enroll">정보수정</button>
				</div>

			</div>
		</div>
	</div>
</section>
<!--// contents -->

</main>
<!--// container -->



<script th:inline="javascript">
const hospital = [[${h}]];
const holiday = String(hospital.time.holiday);
$('input[name="hol"]').each(function(index, item){
	if(holiday.includes(index+2)){
    	  $(item).prop("checked", true);
    }
	$(item).prop("disabled", true);
});




</script>


<th:block th:include="common/footer"></th:block>
</body>
</html>

