<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/main.css">

<th:block th:include="common/header"></th:block>

	<div class="wrap">

		<!-- contents -->
        <main class="contents main">
            <section>
                <h2>페이지 타이틀</h2>
            </section>

            <section>
                <div class="inner_wrap">
                    <h2>페이지 타이틀</h2>
                </div>
            </section>
        </main>
        <!--// contents -->

	</div>
	
<th:block th:include="common/footer"></th:block>
</body>
</html>