<!DOCTYPE html>
<html>

<th:block th:include="common/header"></th:block>

<style>
	.contents.ref{max-width:1080px; margin:0 auto;}
	.ref_section{padding:20px; border:1px solid var(--line_02); border-radius:12px; background-color:#fff;}
	.ref_section+.ref_section{margin-top:48px;}
	h3~h3{margin-top:48px;}
	h4~h4{margin-top:48px;}
	h5~h5{margin-top:24px;}
	h4>span{margin-left:4px; color:var(--gray_04); font-size:14px; font-weight:normal;}
	.layout_sample div{padding:12px; background-color:rgba(0,0,0,0.1); color:#000; font-size:12px;}
</style>

	<!-- container -->
	<main id="container" class="container">

		<!-- contents -->
		<section id="contents" class="contents ref">
			<div class="inner_wrap">
				<h2>공통 모음</h2>
				
				<h3>페이지 기본 레이아웃</h3>
				<div class="ref_section">
					
					<div class="layout_sample">
						header include
						<div>
							#container.container
							<div>
								section#contents.contents - 모든 서브페이지는 이 안에 작성
								<div>
									.inner_wrap - 필요에 따라 사용(최대너비 1200px)
									<div>
										h2 페이지타이틀
									</div>
								</div>
							</div>
						</div>
						footer include
					</div>
					
				</div>

				<h3>제목 태그</h3>
				<section class="ref_section">
					<h2>페이지 타이틀(h2)</h2>
					<h3>페이지 내 서브 타이틀(h3)</h3>
					<h4>페이지 내 아이템 타이틀(h4)</h4>
					<h5>페이지 내 아이템의 서브 타이틀(h5)</h5>
				</section>

				<h3>버튼</h3>
				<section class="ref_section">
					<h4>버튼 기본<span>(모든 버튼은 button태그와 a태그 동일하게 사용 가능)</span></h4>
					<h5>버튼 large</h5>
					<button type="button" class="btn_primary lg">버튼 primary lg</button>
					<button type="button" class="btn_secondary lg">버튼 secondary lg</button>
					<button type="button" class="btn_primary outline lg">버튼 primary outline lg</button>
					<button type="button" class="btn_secondary outline lg">버튼 secondary outline lg</button>
					
					<h5>버튼 default</h5>
					<button type="button" class="btn_primary">버튼 primary</button>
					<button type="button" class="btn_secondary">버튼 secondary</button>
					<button type="button" class="btn_primary outline">버튼 primary outline</button>
					<button type="button" class="btn_secondary outline">버튼 secondary outline</button>

					<h5>버튼 small</h5>
					<button type="button" class="btn_primary sm">버튼 primary</button>
					<button type="button" class="btn_secondary sm">버튼 secondary</button>
					<button type="button" class="btn_primary outline sm">버튼 primary outline</button>
					<button type="button" class="btn_secondary outline sm">버튼 secondary outline</button>

					<h4>영역 안에서 버튼 사용시<span>(.btn_area로 감싸기)</span></h4>
					<div class="btn_area">
						<button type="button" class="btn_secondary lg">취소</button>
						<button type="button" class="btn_primary lg">확인</button>
					</div>
					<div class="btn_area">
						<button type="button" class="btn_primary lg">메인으로 가기</button>
					</div>
					<div class="btn_area">
						<button type="button" class="btn_primary sm">수정</button>
						<button type="button" class="btn_primary outline sm">삭제</button>
					</div>
				</section>

				<h3>badge</h3>
				<section class="ref_section">
					<h4>badge 기본</h4>
					<span class="badge blue outline">접수대기</span>
					<span class="badge red outline">예약취소</span>
					<span class="badge blue">예약확정</span>
					<span class="badge gray">진료완료</span>
					
					<h4>영역 안에서 badge 사용시<span>(.badge_area로 감싸기)</span></h4>
					<div class="badge_area" style="margin-top:24px;">
						<span class="badge blue">예약확정</span>
						<span class="name">홍길동</span>
					</div>
				</section>

				<h3>input</h3>
				<section class="ref_section">
					<div class="input_area">
						<div class="input_wrap">
							<div class="input_title"><label for="input_default">기본 인풋</label></div>
							<div class="input_item">
								<input type="text" name="input_default" id="input_default" placeholder="플레이스홀더">
								<p class="msg">기본 메세지 컬러는 그레이</p>
							</div>
						</div>

						<div class="input_wrap">
							<div class="input_title"><label for="id">아이디</label></div>
							<div class="input_item">
								<input type="text" name="id" id="id" placeholder="아이디를 입력하세요">
								<p class="msg success">사용 가능한 아이디입니다.</p>
							</div>
						</div>

						<div class="input_wrap">
							<div class="input_title"><label for="pw">비밀번호</label></div>
							<div class="input_item">
								<input type="password" name="pw" id="pw" placeholder="비밀번호를 입력하세요">
								<p class="msg warning">필수 입력 정보입니다.</p>
							</div>
						</div>
					</div>
				</section>

			</div>
		</section>
		<!--// contents -->
		
	</main>
	<!--// container -->

<th:block th:include="common/footer"></th:block>
</body>
</html>