<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/font.css">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/common.css">
<style>
	.ref_section+.ref_section{margin-top:48px;}
</style>


	<div class="wrap">

		<!-- contents -->
        <main class="contents main">
            <section>
                <div class="inner_wrap">
                    <h2>공통 모음</h2>
                    
	                <h3>버튼</h3>
                    <section class="ref_section">
	                    <h4>버튼 단독</h4>
	
	                    <button type="button" class="btn_primary">버튼</button>
	                    <a href="#" class="btn_primary">버튼</a>
	
	                    <button type="button" class="btn_secondary">버튼</button>
	                    <a href="#" class="btn_secondary">버튼</a>
                    </section>
					<section class="ref_section">
	                    <h4>버튼 여러개</h4>
	                    <div class="btn_area">
	                        <button type="button" class="btn_primary">버튼</button>
	                        <button type="button" class="btn_secondary">버튼</button>
	                    </div>
	                    <div class="btn_area">
	                        <a href="#" class="btn_primary">버튼</a>
	                        <a href="#" class="btn_secondary">버튼</a>
	                    </div>
					</section>
                </div>
            </section>
        </main>
        <!--// contents -->

	</div>
	
</body>
</html>