@charset "UTF-8";

.detail_reservation_wrap{
	margin: 0 auto;
}
.detail_reservation_top{
	margin: 10px 0px;
}
#patientName{
	font-size: 18px;
	font-weight: bold;
}

.symptomTextarea>textarea{
	width: 500px;
}
#patientSymptom{
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.button_wrap{
	text-align: center;
}
.button_wrap>button{
	margin: 40px 40px;
}

.detail_reservation_symptom>.detail_reservation_symptom_img{
	border: 1px solid var(--line_02);
	border-radius: 10px;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 30px;
	display: flex;
	margin-top: 10px;
}
.detail_reservation_symptom_img>.symptom_img{
	height: 300px;
	border: 1px solid var(--line_02);
	width: 50%;
	margin: 0 10px;
}
.detail_reservation_symptom_img_title{
	margin-top: 20px;
}
#symptom_img_title{
	font-size: 18px;
	font-weight: bold;
}

.detail_reservation_symptom_img>.ref_section{
	margin: 0 auto;
}








