#contents{
	padding:0 !important;
	display:flex;
	justify-content: center; /* 가로 가운데 정렬 */

}

.hospital_wrap{
	width:1200px;
	display:flex;
	justify-content: center; /* 가로 가운데 정렬 */
	padding: 50px 0;
}

.main_content {
  width:60%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.main_content h2 {
  font-size: 26px;
  color: #333;
  text-align: center;
  font-weight: 800;
}

.main_content form {
  margin-top: 30px;
}

.main_content form .input-box {
  height: 52px;
  margin-bottom: 26px;
}

form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 6px;
  border: 1px solid rgb(216, 216, 216);
}


form .input-box input:focus {
  border: 1px solid black;

}

#nextbtn:hover {
  background-color: #3057c7;
  /* 호버 시 배경색 변경 */
}

.file-button:hover {
  background-color: #045bde;
}

.businessAuth_lable {
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 10px;
}

.businessAuth_description {
  font-size: 12px;
  color: #C7BEBE;
  margin-bottom: 10px;
}

form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}

form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}

form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}

form .text h3 a:hover {
  text-decoration: underline;
}

.multiple_file {
  margin-bottom: 10px;

}

.file-button {
  display: inline-block;
  background-color: #4070f4;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 80px;
  height: 30px;
  border-radius: 5px;

}

.multiple_file {
  width: 100%;
  /* 부모 요소에 대한 고정된 너비 설정 */
  overflow: hidden;
}

.file-upload input[type='file'] {
  position: absolute;
  left: -9999px;
}

#fileList {

  list-style: none;
  padding: 0;
  text-align: left;
  /* 목록 요소 왼쪽 정렬 */
}

#fileList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 파일명과 이미지가 동시에 가운데로 정렬되도록 함 */
  margin: 5px 0;
  font-size: 14px;
}

#fileList span {
  font-size: 12px;
  display: inline-block;
  width: 20%;
  /* 남은 공간의 절반에서 40px(삭제 버튼의 너비)를 뺀 크기 */
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  /* 공백 문자 제거 */
}

#fileList li button {
  background-color: #4070f4;
  border-style: none;
  padding: 0;
  width: 10%;
  /* 삭제 버튼의 너비 */
  height: 30px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fileList img {
  width: 50%;
  /* 남은 공간의 절반에서 40px(삭제 버튼의 너비)를 뺀 크기 */
  cursor: pointer;
}

#fileCount {
  font-size: 12px;
}


#representative_no{
	border_bottom: 0.5px solid var(--line_02);
}