@charset "UTF-8";



.menu{

    width: 300px;
    border: 1px solid ;
        

}


.menu>ul li{

list-style:  none;
list-style-type: none;
padding: 10px;



background-color: #D6D6D6;

}

.menu>ul{

padding-left: 0;

}
