@charset "UTF-8";@charset "UTF-8";


#contents{
	padding: 0 !important;
	display:flex;
	justify-content: center;
	 
}

.mypageWrap{
	padding: 0px !important;	
	width:1200px; 
	display: flex;
	justify-content: center;  
	
}


.mypageMenu li>a{
	color:var(--main_03);
	min-width:200px;
	text-align:center;
	padding: 20px 20px;
	font-size: 16px;
	width: 100%;
	font-weight:bold;
	width:100%;
	
}


.mypageMenu li{
	display:flex;
	list-style :none;
	color : #222222;
	justify-content: flex-start;
	
}

.mypageMenu li:hover{
	background-color:rgba(67,137,186,0.2);
	
	
}

.myInfoWrap{
	flex-grow: 1;
    padding: 30px;
    display: flex;
    justify-content: flex-start; /* 가로 가운데 정렬 */
    width:1000px;
	
}

.myInfoWrap>form{
	width:100%;
}


.myInfoBox{
	width:100%;
    
    padding:30px;
}




.mypageMenu {
	
	display: flex;
	flex-direction: column;
	
	
}

.material-icons{
	
	font-size: 100px;
	color:var(--main_03);
	
}


.reviewListBox{
	
	
	width: 75%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin: 0 auto;
	margin-bottom: 20px !important;
	padding-bottom:25px;
	
	
}

.reviewListBox P {
	
	padding: 10px;


}


.close{
	
	
	position: relative;
    top: 10px;
    left: 485px;
    font-size: 20px;
    color :#D6D6D6;
    
}

.box{
	display: flex;
	flex-direction: row;
	
}
.menuBox{
	
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.star-wrap{
    overflow: hidden;
    
}

.star-wrap>span{
    float: left;
    color: lightgray;
    font-size: 30px; /*별하나 사이즈*/
}


.star-on-wrap>span{
    color: gold;
}

.star-on{
    width: 75px;
    position: absolute;
    left: 0;
    overflow: hidden; /*색깔별 안보여주게*/
}
.star-wrap2{
    position: relative;
    
}
.star-on-wrap{ /*별이 아래로 떨어지지 않게 너비를 정해줌*/
    width: 150px;
}

