@charset "UTF-8";@charset "UTF-8";


#contents{
	padding: 0 !important;
	display:flex;
	justify-content: center;
	 
}

.mypageWrap{
	padding: 0px !important;	
	width:1200px; 
	display: flex;
	justify-content: center;  
	
}


.mypageMenu li>a{
	color:var(--main_03);
	min-width:200px;
	text-align:center;
	padding: 20px 20px;
	font-size: 16px;
	width: 100%;
	font-weight:bold;
	width:100%;
	
}


.mypageMenu li{
	display:flex;
	list-style :none;
	font-color : #222222;
	justify-content: flex-start;
	
}

.mypageMenu li:hover{
	background-color:rgba(67,137,186,0.2);
	
	
}

.myReviewWrap{
	flex-grow: 1;
    padding: 30px;
    display: flex;
    justify-content: flex-start; /* 가로 가운데 정렬 */
    width:1000px;
	
}


.myReviewBox{
	width:750px;
    
    padding:30px;
}




.mypageMenu {
	
	display: flex;
	flex-direction: column;
	
	
}

.material-icons{
	
	font-size: 100px;
	color:var(--main_03);
	
}

.textBox{
	
	
	background-color: #E9E9E9;
	border-radius: 6px;
	padding: 10px;
	
}

.textBox>h3{
	
	padding-top: 30px;
	
}


.textBox h4,h3{
	
	
	text-align: center;
	margin: 0 auto;
	
	
	
}

.submitBtn{
	
	padding: 30px;
	
}

#warning{
	
	font-size : 30px;
	
}


#building{
	
	font-size :80px;
	
}


.star-wrap{
    overflow: hidden;
    
}

.star-wrap>span{
    float: left;
    color: lightgray;
    font-size: 30px; /*별하나 사이즈*/
}

.menuBox{
	
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.star-on-wrap>span{
    color: gold;
}

.star-on{
    width: 75px;
    position: absolute;
    left: 0;
    overflow: hidden; /*색깔별 안보여주게*/
}
.star-wrap2{
    position: relative;
    
}
.star-on-wrap{ /*별이 아래로 떨어지지 않게 너비를 정해줌*/
    width: 150px;
}


.danger{
	
	display : flex;
}
.danger>h5{
	
	padding-top:5px;
}

#hBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom : 30px;
}

.hName{
	
	padding: 20px;
	
}

.icon {
  margin-right: 10px; /* 아이콘 오른쪽 여백 */
}

.hospital-name {
  margin-right: 10px; /* 병원 이름 오른쪽 여백 */
}

.stars {
  display: flex; /* 별들을 가로로 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  margin-right: 10px; /* 별들 오른쪽 여백 */
}

.stars .material-icons {
  margin-right: 3px; /* 별 아이콘들 사이의 여백 */
}

.input-box {
  margin-right: 10px; /* 인풋 박스 오른쪽 여백 */
  margin-left: 30px;
}

#btn {
  padding: 5px 10px; /* 버튼 안 여백 */
}
#score {
  width: 50px; /* 스코어 입력란의 너비 */
  margin-right: 10px; /* 스코어 입력란 오른쪽 여백 */
  padding: 5px;
  border-bottom : 1px solid #d9d9d9;
  
}

.subBtn{
	
	display:flex;
	  justify-content: center;
}
